.tabbar-container{
    background: var(--gradient-primary-left-to-right);
    border-radius: 1.9rem;
    box-shadow: 0rem .5rem .7rem rgba(39, 34, 70, 0.1);
    width: 80%;
    height: 4.25rem;
    position: fixed;
    left: 50%;
    top: 87%;
    transform: translateX(-50%) translateY(6.2rem);
    animation: tabbar-organizer 1s ease forwards;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;

    .home{
        svg{
           fill: white;
        }
    }
}

@keyframes tabbar-organizer {
    to {
      transform: translateX(-50%) translateY(0);
    }
  }
