@import '../../../sass/stylesImports.scss';
.item-activities-container {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .row-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 4rem;
    &__price {
      font-size: $text-size-14;
      font-weight: 600;
    }
    &__date {
      font-weight: 300;
      font-size: $text-size-12;
      margin-top: 1rem;
    }
  }
  .row-image {
    width: 0.5rem;
    transition: all 0.3s;
    transform: rotate(90deg);
    width: 0.8rem;
    margin-right: 1rem;
  }
  .row-image.show {
    transform: rotate(-90deg);
    transition: all 0.3s;
    margin-right: 1rem;
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content.show-content {
    max-height: 50rem;
    overflow-y: auto;
    transition: max-height 0.2s ease-in;
    margin-top: 1rem;
  }
  .item-content {
    width: 85%;
    margin-bottom: 1rem;

    &__title {
      font-size: $text-size-12;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  .name {
    width: 50%;
  }
}
