@use "../stylesImports" as styles;

.btn-primary {
  margin-top: 1rem;
  width: 100%;
  border: solid 2px white;
  border-radius: 0.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-family: "Teko";
  font-weight: 400;
  transition: all 0.5s;
  @include styles.flex-config(flex, center, center, column, nowrap);
  padding: 0.2rem;
  &:hover {
    transform: translateY(0.6rem);
    background-color: #fff;
    color: black;
    circle {
      stroke: black;
    }
  }
}
