.calendar-container{
    width: 7rem;
    height: 2.2rem;
    border-radius: 1.5rem;
    background: var(--gradient-secondary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 300;
    font-size: 12px;
}