.calendar-container{
    width: 8rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: var(--gradient-secondary);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-weight: 300;
    font-size: 0.68rem;
}