@import "../../sass/stylesImports.scss";
.add-image-button {
  @include grey-gradient-bg;
  height: 10rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 7px #0000001c;
  margin-bottom: auto;
  &:focus {
    outline: none;
  }
  &__img {
    height: 5rem;
  }
  &__input {
    display: none;
  }
}
