.input-range {
  --c: #ffffff; /* active color */
  --g: 0.5rem; /* the gap */
  --l: 5px; /* line thickness*/
  --s: 30px; /* thumb size*/

  width: 400px;
  height: var(--s); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;

  &:focus-visible,
  &:hover {
    --p: 25%;
  }
  &:active,
  &:focus-visible {
    --_b: var(--s);
  }
  /* chromium */
  &::-webkit-slider-thumb {
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 1/0 100vw/0
      calc(100vw + var(--g));
    clip-path: polygon(
      0 calc(50% + var(--l) / 2),
      -100vw calc(50% + var(--l) / 2),
      -100vw calc(50% - var(--l) / 2),
      0 calc(50% - var(--l) / 2),
      0 0,
      100% 0,
      100% calc(50% - var(--l) / 2),
      100vw calc(50% - var(--l) / 2),
      100vw calc(50% + var(--l) / 2),
      100% calc(50% + var(--l) / 2),
      100% 100%,
      0 100%
    );
    -webkit-appearance: none;
    appearance: none;
    transition: 0.3s;
  }
  /* Firefox */
  &::-moz-range-thumb {
    height: var(--s);
    width: var(--s);
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 1/0 100vw/0
      calc(100vw + var(--g));
    clip-path: polygon(
      0 calc(50% + var(--l) / 2),
      -100vw calc(50% + var(--l) / 2),
      -100vw calc(50% - var(--l) / 2),
      0 calc(50% - var(--l) / 2),
      0 0,
      100% 0,
      100% calc(50% - var(--l) / 2),
      100vw calc(50% - var(--l) / 2),
      100vw calc(50% + var(--l) / 2),
      100% calc(50% + var(--l) / 2),
      100% 100%,
      0 100%
    );
    -moz-appearance: none;
    appearance: none;
    transition: 0.3s;
  }
}
