.statistics-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-bottom: 6.5rem;
    padding-top: 9rem;

    .title {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: 'Acumin Pro Wide';
            text-transform: capitalize;
            font-weight: 600;
            font-size: 1rem;
        }
    }
    .date {
        width: 6.93rem;
        height: 2.18rem;
        background: var(--gradient-secondary);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 1.5rem;

        p {
            font-weight: 300;
            font-size: 0.75rem;
        }
    }
    .chart-wrapper {
        width: 90%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .chart-title{
        position: absolute;
        top: 5%;
        left: 6%;
    }
    .chart-container {
        position: relative;
        width: 85%;
        min-height: 23rem;
        background: var(--gradient-secondary);
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        span {
            font-family: 'Rajdhani';
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1rem;
        }

        p {
            font-weight: 400;
            font-size: 0.75rem;
        }
    }

    .data-container {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .details{
        align-self: flex-end;
        margin-bottom: -1rem;
        background: linear-gradient(90.19deg, #FF6689 0.16%, #E066FF 99.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 80%;
            width: 85%;
            height: 0.063rem;
            background: linear-gradient(90.19deg, #FF6689 0.16%, #E066FF 99.84%);
          }
    }
    .details-button{
        position: absolute;
        bottom: 5%;
        right: 5%;
    }
    .secodary-container {
        height: 8.75rem;
        width: 85%;
        background: var(--gradient-secondary);
        padding: 1.5rem;
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h2 {
            font-weight: 700;
            font-size: 1.5rem;
        }
        .number-container {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 95%;

            h1 {
                font-weight: 700;
                font-size: 2.5rem;
            }

            p {
                font-family: 'Rajdhani';
                font-weight: 400;
                font-size: 2rem;
            }
        }
    }

    .chart {
        position: relative;
        width: 9.6rem;
        height: 9.6rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .total {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h1 {
                position: relative;
                margin-top: 3%;
            }
        }
    }

}

@keyframes showup {
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}