.bottom-sheet-wrapper {
  width: 100%;
  //   display: flex;
  //   justify-content: center;
}
.bottom-sheet {
  z-index: 99;
  position: fixed;
  bottom: 20%;
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__grap {
    margin-top: 0.7rem;
    width: 6rem;
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.529);
    border-radius: 2rem;
  }
}
