.accountItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &__name-image-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__image {
    width: 3rem;
  }
  &__name {
    text-transform: uppercase;
  }
}
