.create-pack-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.62rem);
    background: linear-gradient(180deg, rgba(7, 1, 4, 0.438) 0%, rgba(70, 5, 56, 0.66) 100%);
    z-index: 99;
    .create-pack-popup{
        width: 80%;
        height: 10rem;
        border-radius: 1.25rem;
        background: var(--gradient-secondary);
        transform: scale(0.7);
        animation: popup 0.3s 1 forwards;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }
    .wrapper{
        padding: 1px;
        background: var(--gradient-primary);
        border-radius: 1.5rem;
    }
    .input-name{
        background: #a89fa1;
        border: none;
        border-radius: 1.5rem;
        color: white;
        padding: 0rem 1rem 0rem 1rem;
        &:focus{
            outline: none;
        }
    }
    .save-pack{
        background: var(--gradient-primary);
        color: white;
        width: 40%;
        height: 2rem;
        border-radius: 1.5rem;
    }
    @keyframes popup {
        to{
            transform: scale(1);
        }
    }
}