.create-pack-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.62rem);
    background: linear-gradient(180deg, rgba(7, 1, 4, 0.438) 0%, rgba(70, 5, 56, 0.66) 100%);
    z-index: 9;
}