.profile-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left:  7.62rem;
    .profile-info{
        width: 375px;
        height: 321px;
        border-radius: 20px;
        background: var(--gradient-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row-content{
        height: 3.5rem;
        width: 85%;
        display: flex;
        align-items: center;
    }
    hr{
        border: none;
        height: 1px;
        width: 100%;
        background: var(--gradient-primary);
    }
}