@import "../../sass/stylesImports.scss";

.input-wrapper {
  // @include primary-gradient-dark-bg;
  padding: 1px;
  border-radius: 1.8rem;
  width: 100%;
  &__input {
    // background-color: #221e1f;
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 1.8rem;
    padding: 1rem;
    color: white;
    &:focus {
      outline: none;
    }
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white),
      radial-gradient(circle at top left, #f00, #3020ff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }
}
