body{
    aspect-ratio: 960/540;
    width: 100%;
    background-image: url('../../assets/desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--font-poppins);
    
}