@import '../../../../sass/stylesImports.scss';
.input-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 50%;

  .input-wrapper {
    @include primary-gradient-light-bg;
    padding: 1px;
    height: 4.4rem;
    width: 30%;
    border-radius: 1rem;
  }
  .button-wrapper {
    height: 4.4rem;
    padding: 1px;
    @include primary-gradient-light-bg;
    border-radius: 1rem;
    width: 20%;
  }
  input {
    border: none;
    background-color: #80717c;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 0.62rem;
    font-size: 0.9rem;
    &:focus {
      outline: none;
    }
  }
  button {
    background-color: #80717c;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 0.62rem;
    font-size: 0.9rem;
  }
}
