@import '../../../../sass/stylesImports.scss';
.container-qr-reader {
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  z-index: 3;
  overflow: hidden;
  transform: translateY(100%);
  animation: scanner 0.3s 1 forwards;
  border-radius: 2rem;
  position: relative;
  &__button-camera {
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    top: 3rem;
    right: 3rem;
  }
  @keyframes scanner {
    to {
      transform: translateY(0%);
    }
  }
}
