@import '../../../../sass/stylesImports.scss';
.container-qr-reader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;

  &__button-camera {
    border: 1px solid white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    top: 3rem;
    right: 3rem;
  }
  @keyframes scanner {
    to {
      transform: translateY(0%);
    }
  }
}
