$toggle-color-primary: #50f080;
$toggle-color-secondaty: #f05050;
.toggle {
  --toggle-size: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.toggle::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, $toggle-color-primary),
      color-stop(50%, $toggle-color-secondaty)
    )
    no-repeat;
  background: -o-linear-gradient(
      left,
      $toggle-color-primary 50%,
      $toggle-color-secondaty 50%
    )
    no-repeat;
  background: linear-gradient(
      to right,
      $toggle-color-primary 50%,
      $toggle-color-secondaty 50%
    )
    no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.toggle:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.toggle:checked {
  background-position: 100%;
}
