.header-oranizer-container{
    width: 100%;
    position: fixed;
    background: var(--color-background);
    height: 7.5rem;

    img{
        cursor: pointer;
    }
    h1{
        font-family: 'Acumin Pro Wide';
        text-transform: none;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .anchor{
        width: 1.5rem;
    }
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2.43rem;
        height: 1.78rem;
        margin-bottom: 1rem;
    }
    .organizer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        font-family: 'Acumin Pro Wide';
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1rem;
    }
}