.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__logo {
    opacity: 0.7;
  }
  &__back-btn {
    background-color: #fff;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.7rem;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    opacity: 0;
    animation: fadein 1 1.5s forwards;
  }
  &__menu-btn {
    background-color: transparent;
    width: 3.2rem;
    height: 2rem;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
  }
}
