@import '../../../sass/stylesImports.scss';
.loader-wrapper {
  position: absolute;
  display: flex;

  &__loader {
    animation: rotate 0.7s infinite linear;
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
