.loader {
    animation: rotate 0.7s infinite linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }