@import '../../../sass/stylesImports.scss';
.settings-clubs {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  height: 90vh;
  position: relative;
  .select-wrapper__label-container {
    margin-top: 1rem;
  }

  .loading-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__menu {
    width: 100%;
    min-height: 6rem;
    @include grey-gradient-bg;
    border-radius: $border-radius-primary;
    margin-bottom: 2rem;
    &--mt {
      margin-top: 7rem;
    }
    &--mt2 {
      margin-top: 16rem;
    }
  }
  &__content-menu {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    &--start {
      width: 100%;
      margin-bottom: 0.4rem;
    }
  }
  &__image-arrow {
    width: 1rem;
  }
  &__title {
    font-weight: 400;
    &--capitalize {
      font-weight: inherit;
      text-transform: capitalize;
    }
  }
  &__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
  }
  &__description {
    font-weight: 400;
    font-size: $text-size-14;
    line-height: 2.5rem;
    margin-top: 3.6rem;
    margin-bottom: 1rem;
    &--bold-capitalize {
      font-weight: 600;
      text-transform: capitalize;
    }
  }
  &__anchor {
    @include primary-gradient-dark-txt;
    font-weight: 600;
    font-size: $text-size-14;
    .anchor-primary--bold {
      font-size: $text-size-14;
    }
  }
}
