.my-party-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translateX(-100%);
    animation:  _transition 0.4s 1 forwards;
    overflow-y: scroll;

    h2{
        width: 85%;
        text-transform: capitalize;
        font-family: 'Acumin Pro Wide';
        font-style: normal;
        font-weight: 600;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .container-party-2{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        justify-content: center;
    }
    .container-party-1{
        margin-top: 1.5rem;
        width: 85%;
    }
    .add-party{
        width: 100%;
        height: 3.4rem;
        background: var(--gradient-secondary);
        border-radius: .62rem;
        box-shadow: 0px 0.25rem 0.75rem rgba(255, 255, 255, 0.25) ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        h2{
            width: auto;
            margin-top: 0;
        }
    }
    .add-more-party{
        width: 100%;
        height:12.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--gradient-secondary);
        border-radius: 0.62rem;
        h2{
            display: none;
        }
        img{
            width: 3.32rem;
        }
    }
    .card-party-container{
        position: relative;
    }
    .edit{
        position: absolute;
        z-index: 3;
        top: -1%;
        left: 86%;
    }
    .my-party{
        position: relative;
        width: 100%;
        height:12.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--gradient-secondary);
        box-shadow: 0rem 0.25rem 0.75rem rgba(255, 255, 255, 0.25) ;
        border-radius: 0.62rem;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .mask{
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.628);
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem
        }
        h2{
            width: auto;
            color: white;
            z-index: 2;
            font-family: 'Rajdhani';
            font-size: 1.12rem;
            text-transform: uppercase;
            text-shadow: 0rem 0rem 0.31rem #D482FB;
        }
        p{
            width: 8rem;
            text-align: center;
            color: white;
            z-index: 2;
            font-weight: 400;
            font-size: 0.81rem;
        }
    }
}