.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__spin {
    animation: spin 0.7s infinite linear;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
