.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 9;
  &__spin {
    animation: spin 2s infinite linear;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
