.light-cyan {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #24b9d37c; /* for the 1px in the center */
  border-radius: 50%;
  box-shadow: 0 0 15rem 7rem #24b8d3;
}
.light-blue {
  width: 1rem;
  height: 1rem;
  background-color: #2470d37c; /* for the 1px in the center */
  border-radius: 50%;
  box-shadow: 0 0 15rem 7rem #2470d3;
}
