.organizer-settings-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
    overflow-y: scroll;

    .row-container{
        width: 85%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img{
            width: .4rem;
            margin-right: 5%;
        }
    }
    h2{
        font-family: 'Acumin Pro Wide';
        text-transform: capitalize;
        font-size: 1rem;
    }
    hr{
        width: 100%;
        border: none;
        height: 1px;
        background: var(--gradient-primary-left-to-right);
    }
    p{
        font-weight: 300;
        font-size: 0.87rem;
        text-transform: capitalize;
    }
    .loading-premises{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .save{
        margin-top: 3rem;
        width: 85%;
        height: 3rem;
        background: var(--gradient-primary-left-to-right);
        border-radius: 6.25rem;
        color: white;
        box-shadow: 0px 0px 20px rgba(255, 84, 123, 0.5);
    }
}