.popoup-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgba(14, 13, 13, 0.7);
    backdrop-filter: blur(1rem);
    z-index: 2;

    .popup{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 16rem;
        width: 19.375rem;
        height: 9.18rem;
        background: var(--gradient-secondary);
        border-radius: 1rem;
        transform: scale(0.2);
        animation: popup-in 0.2s 1 forwards;
        z-index: 2;
    }
    .image{
        width: 1.5rem;
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .shoocoins{
        display: flex;
        align-items: flex-end;
        gap: 1rem;
        opacity: 0.5;
        p{
            font-size: 0.8rem;
        }
    }
    hr{ 
        height: 0.1rem;
        opacity: 0.5;
    }
}