.item-next-dates {
  width: 100%;
  min-height: 5rem;
  background: rgba(255, 255, 255, 0.071);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
