.item-next-dates {
  width: 100%;
  min-height: 5rem;
  background: rgba(255, 255, 255, 0.071);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  &__celda {
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__tooltip-container {
    position: absolute;
  }
}
