//COLORS

/* GRADIENTS */
/*Primary gradient DARKER pink colors*/
$color-primary-light: #ff547b;
$color-primary-dark: #d639fd;

/*Secondary gradient PASTEL pink colors*/
$color-secondary-light: #ff6689;
$color-secondary-dark: #e066ff;

/*Tertiary gradient GREEN colors*/
$color-tertiary-light: #5ed85a;
$color-tertiary-dark: #2db4ac;

/*Fourth gradient GREY colors*/
$color-grey-light-1: rgba(255, 255, 255, 0);
$color-grey-light-2: rgba(255, 255, 255, 0.6);

/*Fifth gradient BACKGROUND colors*/
$color-background-primary: #070104;
$color-background-secondary: #460538;

/*GENERAL colors */
$color-white: #fff;
$color-black: #000;

//FONT SIZE

/*GENERAL*/
$text-size-16: 1.6rem; //16px
$text-size-14: 1.4rem; //14px
$text-size-12: 1.2rem; //12px

/*HEADINGS-TITLES*/
$heading-size-24: 2.4rem; //24px
$heading-size-20: 2rem; //20px
$heading-size-16: 1.6rem; //16px

//BORDER RADIUS
/*GENERAL-CONTAINERS*/
$border-radius-primary: 2rem; //20px
