.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
  }
  &__logo {
    position: absolute;
    top: 15%;
    width: 10rem;
  }
  button {
    margin-top: 1.5rem;
  }
}
@media (max-width: 820px) {
  .login-container {
    &__form {
      width: 80%;
    }
  }
}
