@import '../../../global/css/mixins.scss';

.statistics-container{
    height: 100vh;
    width: 100%;
    @include flexible(flex, row, nowrap, center, center);
    @include responsive(900px){
        margin-top: 7rem;
        height: 100%;
    }
    
    .content{
        width: 80%;
        height: 100%;
        @include flexible(flex, row, nowrap, space-between, center);
        @include responsive(900px){
            @include flexible(flex, column-reverse, nowrap, space-evenly, center);
            height: 72rem;
        };
    }
    .content-left{
        @include flexible(flex, column, nowrap, center, start);
    
        width: 42rem;
        @include responsive(900px){
            width: 100%;
            height: 28.875rem;
        };
        @include responsive(360px){
            height: 30.875rem;
        };
        
        h1{
            font-size: 3.8rem;
            @include responsive(1160px){
                font-size: 2.5rem;
            }
            @include responsive(900px){
                font-size: 2rem;
            }
        }
        p{
            font-size: 1.4rem;
            @include responsive(1160px){
                font-size: 1.2rem;
                width: 90%;
            }
            @include responsive(900px){
                font-size: 1.125rem;
                width: 80%;
            }
            @include responsive(900px){
                width: 90%;
            }
        }
    }
    ul{
        list-style: none;
        @include responsive(900px){
            visibility: hidden;
        }
    }
    .item{
        font-family: 'Acumin Pro Wide';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-bottom: .5rem;
        @include responsive(1160px){
            font-size: 14;
            font-weight: 200;
        };
        @include responsive(900px){
            font-size: 7px;
            font-weight: 100;
        };
    }
    .item.one::before{
        display: inline-block;
        content: url("../../../assets/icons/icon_bottles.svg");
        margin-right: 0.5rem;
    }
    .item.two::before{
        display: inline-block;
        content: url("../../../assets/icons/icon_staff.svg");
        margin-right: 0.5rem;
    }
    .item.three::before{
        display: inline-block;
        content: url("../../../assets/icons/icon_calendar.svg");
        margin-right: 0.5rem;
    }
    .item.four::before{
        display: inline-block;
        content: url("../../../assets/icons/icon_user.svg");
        margin-right: 0.5rem;
    }
    .item.five::before{
        display: inline-block;
        content: url("../../../assets/icons/icon_streaming.svg");
        margin-right: 0.5rem;
    }
    .btn{
        width: 13.5rem;
        height: 2.5rem;
        @include responsive(900px){
            width: 95%;
        };
    }
    .image-container{
        position: relative;
    }
    .image-stats{
        width: 27rem;
        @include responsive(1150px){
            width: 21.375rem;
        };
        @include responsive(1150px){
            width: 19rem;
        }
        @include responsive(900px){
            width: 18.375rem;
        };
    }
    .ellipse.one{
        top:-7%;
        right: -35%;
        @include responsive(992px){
            top: 30%;
            width: 9rem;
            height: 9rem;
        }
    }
    .ellipse.two{
        top: 30%;
        right: -50%;
        width: 4.4rem;
        height: 4.4rem;
        @include responsive(992px){
            top: auto;
            right: 10%;    
            bottom: 90%;
            width: 3rem;
            height: 3rem;
        }
    }
    .ellipse-pink.one{
        bottom: 10%;
        left: -30%;
        @include responsive(992px){
            bottom: 5%;
            left: -10%;
            width: 9rem;
            height: 9rem;
        }
    }
    .ellipse-pink.two{
        top: 30%;
        left: -40%;
        width: 4.4rem;
        height: 4.4rem;
        @include responsive(992px){
           display: none;
        }
    }
}