.statistics-details-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .statistics-header{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;

        top: 10rem;
        .buttons{
            display: flex;
        }
    }

}