.statistics-details-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    .statistics-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        position: fixed;
        background: linear-gradient(180deg, #10010a 0%, #180211 100%);;
        top: 8rem;
        .buttons{
            display: flex;
            width: 85%;
            justify-content: space-between;
        }
        .search-bar{
            width: 85%;
        }
    }
    .data-container{
        width: 85%;
        height: 80%;
    }
}