.login {
  height: 100%;
  &__title {
    font-family: "Shadow";
    src: url("../../sass/base/fonts/ShadowsIntoLight/ShadowsIntoLight-Regular.woff2")
      format("truetype");
    font-weight: 400;
    font-display: swap;
  }
}
