@use "../../sass/stylesImports" as styles;

.login {
  height: 100%;

  &__title {
    font-family: "Shadow";
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  &__form {
    @include styles.flex-config(flex, center, center, column, nowrap);
    gap: 2rem;
    width: 25%;
    text-align: center;
  }
  &__submit {
    width: 100%;
    border: solid 2px white;
    border-radius: 0.5rem;
    height: 2.4rem;
    font-size: 1.5rem;
    font-family: "Teko";
    font-weight: 400;
    transition: all 0.5s;
    &:hover {
      transform: translateY(0.6rem);
      background-color: #fff;
      color: black;
    }
  }
}
