@use "../../sass/stylesImports" as styles;

.login {
  height: 100%;

  &__title {
    font-family: "Shadow";
    margin-bottom: 3rem;
  }
  &__form {
    @include styles.flex-config(flex, center, center, column, nowrap);
    gap: 2rem;
    width: 25%;
    text-align: center;
  }
  &__submit {
    width: 100%;
    border: solid 2px white;
  }
}
