@import '../../../../../../sass/stylesImports.scss';
.create-pack-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0.62rem);

  z-index: 99;
  .create-pack-popup {
    width: 80%;
    height: 18rem;
    border-radius: 1.25rem;
    @include grey-gradient-bg;
    transform: scale(0.7);
    animation: popup 0.2s 1 forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    h2 {
      text-transform: uppercase;
      font-size: 1.4rem;
      text-align: center;
    }
  }
  .wrapper {
    padding: 1px;
    height: 4rem;
    width: 25rem;
    @include primary-gradient-dark-bg;
    border-radius: 1.5rem;
  }
  .input-name {
    background: #a89fa1;
    border: none;
    border-radius: 1.5rem;
    color: white;
    padding: 0rem 1rem 0rem 1rem;
    height: 3.8rem;
    width: 24.8rem;
    font-size: 1.4rem;
    &:focus {
      outline: none;
    }
  }
  .save-pack {
    width: 16rem;
    height: 4rem;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color: white;
    @include primary-gradient-dark-bg;
    box-shadow: 0px 0px 20px rgba(255, 84, 123, 0.5);
    border-radius: 6.25rem;
  }
  @keyframes popup {
    to {
      transform: scale(1);
    }
  }
}
