@import '../../../sass/stylesImports.scss';
.tab-bar-bartender {
  width: 80%;
  height: 7rem;
  @include primary-gradient-dark-bg;
  border-radius: 3rem;
  position: fixed;
  top: 88%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(-50%);
  z-index: 5;
  &__active_home {
    img {
      content: url('../../../assets/icons/Selected-Icons/selected_activities.svg');
    }
  }
  &__active_scanner {
    img {
      content: url('../../../assets/icons/Selected-Icons/selected_qr.svg');
    }
  }
  &__active_settings {
    img {
      content: url('../../../assets/icons//Selected-Icons/selected_settings.svg');
    }
  }
  .qr-button {
    @include primary-gradient-dark-bg;
    border-radius: 2.5rem;
    width: 8rem;
    height: 8rem;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.tabbar-space-bartender {
  position: relative;
  height: 15rem;
}
