@use "@/styles/stylesImports.scss" as styles;
.categories {
  &__header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  &__title-container {
    display: flex;
    align-items: baseline;
    gap: 0.8rem;
  }

  &__icon {
    width: 1.8rem;
  }

  &__see-more-btn {
    background-color: styles.$color-primary;
    border: none;
    color: white;
    border-radius: 3rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
  &__items-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
