.categories {
  &__title-container {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  &__icon {
    width: 1.8rem;
  }

  &__see-more-btn {
    background-color: #6400ff;
    border: none;
    color: white;
    border-radius: 3rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
}
