@import "../../sass/stylesImports.scss";

.next-dates {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &__cap {
    position: absolute;
    width: 20rem;
    transform: rotate(-80deg);
    bottom: -10rem;
    left: -5rem;
    z-index: -1;
  }
  &__sunglasses {
    position: absolute;
    top: -5rem;
    right: -8rem;
  }
  &__logo {
    position: absolute;
    width: 14rem;
  }
}
