@import "../../sass/stylesImports.scss";

.next-dates {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &__cap {
    position: absolute;
    width: 20rem;
    transform: rotate(-80deg);
  }
}
