.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__badges {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .profile {
    width: auto;
  }
}
