@use "../../../../sass/stylesImports.scss" as styles;

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  background-color: styles.$color-secondary;
  &__profile-image-container {
    width: 5.5rem;
    height: 5.5rem;
  }
  &__profile-image {
    width: 100%;
    object-fit: fill;
  }
}
