.select-month-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  // transform: rotate(-2deg);
  .swiper-pagination-bullet-active {
    background: #000000ef;
  }
  .swiper-pagination-bullet {
    background: #000000be;
  }

  .select-month-tour {
    //   position: relative;
    //   opacity: 0;
    //   animation: fadein 1s 1 forwards;
    border: solid 2px aqua;
    width: 100%;
    // overflow: visible;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .swiper-wrapper {
    border: solid 2px aqua;
    width: 35% !important;
  }
  // .swiper-slide {
  //   // width: 100% !important;
  //   // overflow: hidden;
  // }
  .swiper-slide-shadow {
    width: 0;
  }
  &__image {
    z-index: -1;
  }
  &__month-container {
    position: absolute;
    // border: solid 2px aqua;
    width: 80%;
    height: 50%;
    top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  &__month {
    font-family: Shadow;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__month-draw {
    position: absolute;
    &--line {
      opacity: 0;
      animation: fadein 0.7s linear forwards;
    }
  }
  &__text {
    text-transform: uppercase;
    position: absolute;
    font-family: Shadow;
    font-weight: 400;
    font-size: 28px;
    color: #000;
    bottom: 13%;
    width: 60%;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .select-month-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    animation: fadein 1s 1 forwards;
    .swiper-wrapper {
      width: 100% !important;
    }
    .select-month-tour {
      position: relative;
      opacity: 0;
      animation: fadein 1s 1 forwards;
      width: 100%;
      overflow: visible;
    }
    .swiper-pagination-bullet-active {
      background: #0cb1b1;
    }
    .swiper-pagination-bullet {
      background: #0b9999b9;
    }
    .swiper-pagination {
      position: initial;
      margin-top: 2rem;
    }
  }
}
