@use "../../sass/stylesImports.scss" as styles;

.login {
  width: 100vw;
  height: 100vh;
  @include styles.flex(column, nowrap, start, center);
  &__description {
    color: styles.$color-secondary;
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
