
.promotion-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.promotions-header{
    width: 85%;
    display: flex;
    align-items: center;
    gap: .5rem;

    h2{
        font-family: 'Acumin Pro Wide';
        font-size: 1.125rem;
        font-weight: 400;
    }
    .more{
        margin-bottom: -0.5rem;
    }
}
.promotions{
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: scroll;
    padding-right: 2rem;
}
::-webkit-scrollbar{
    display: none;
}
.promotions-products-container{
    width: 85%;
    
    .products{
        width: 100%;
        margin-top: 1rem;
        height: 13rem;
        display: flex;
        gap: 1rem;
    }
}