.btn-xnodui {
  display: inline-flex;
  min-width: max-content;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: solid 1px transparent;
  border-radius: var(--btn-radius);
  cursor: pointer;
  transition: filter 0.2s, transform 0.3s;

  &--primary {
    color: white;
    background: var(--primary-color);
  }
  &--secondary {
    color: var(--primary-color);
    background: var(--color-transparent);
    border: solid 1px var(--primary-color);
  }

  &--small {
    font-size: 1.2rem;
    padding: 0.7rem 1.5rem;
  }
  &--medium {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
  &--large {
    font-size: 1.6rem;
    padding: 1.2rem 2rem;
  }

  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(0.9);
    transform: scale(0.98);
  }
  &:disabled {
    filter: brightness(0.8);
    transform: none;
  }
}
