.btn {
  display: inline-flex;
  min-width: max-content;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: solid 1px transparent;
  border-radius: var(--btn-radius);
  cursor: pointer;
  transition: filter 0.2s, transform 0.3s;

  &--primary {
    color: white;
    background-color: var(--primary-color);
  }
  &--secondary {
    color: var(--primary-color);
    background-color: transparent;
    border: solid 1px var(--primary-color);
  }

  &--small {
    font-size: 12px;
    padding: 7px 15px;
  }
  &--medium {
    font-size: 14px;
    padding: 10px 20px;
  }
  &--large {
    font-size: 16px;
    padding: 12px 20px;
  }

  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(0.9);
    transform: scale(0.98);
  }
  &:disabled {
    filter: brightness(0.8);
    transform: none;
  }
}
