.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color:rgba(14, 13, 13, 0.7);
    backdrop-filter: blur(1rem);
    z-index: 2;
}