.tabbar {
  background-image: var(--gradient-primary-left-to-right);
  border-radius: 1.9rem;
  box-shadow: 0 0.5rem 0.7rem rgba(69, 60, 123, 0.1);
  width: 85%;
  height: 4.25rem;
  position: fixed;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 5000;
  .active.home{
    background: url("../../../assets/icons/Selected-Icons/selected_home.svg");
  }
}
.tabbar-space {
  position: relative;
  height: 120px;
}
