.landing{
    @include center;
    background-color: $PRIMARY-COLOR;
    width: 100vw;
    height: 100vh;
    animation: landing 1s ease 1 3s forwards;
}
.logo{
    @include center;
    @include limits(5em, 5em);
    font-size: 3em;
    color: $SECONDARY-COLOR;
    border: solid $SECONDARY-COLOR 2px;
    border-radius: 1em;
    animation: logo 1.2s ease 1 1s forwards;
}

@keyframes logo {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
        border: none
      }
}

@keyframes landing {
    to{
        background-color: transparent;
    }
}