.home-container{
    display: flex;
    justify-content: center;
    margin-left:  7.62rem;
    padding-top: 10rem;
    .content{
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
