@import "../../global/css/mixins.scss";

.footer-container {
  height: 100vh;
  width: 100%;
  background-color: #040404;
  position: relative;
  @include flexible(flex, column, nowrap, center, center);
  &__bottom-container {
    position: absolute;
    bottom: 1.5rem;
  }
  &__social-network {
    width: 9rem;
    margin-bottom: 1.3rem;
    @include flexible(flex, row, nowrap, space-between, center);
    &__icon {
      width: 1.3rem;
      transition: all 0.7s;
      &:hover {
        transform: translateY(5px);
      }
    }
  }
  &__shooza {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
  }
  .footer-info {
    width: 70%;
    position: absolute;
    gap: 2.8rem;
    z-index: 1;
    @include flexible(flex, column, nowrap, center, center);
    @include responsive(1400px) {
      width: 80%;
    }

    @include responsive(992px) {
      width: 90%;
      justify-content: space-around;
    }
    &__stores {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      @include responsive(992px) {
        display: none;
      }
      &--mobile {
        display: none;
        &__top {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
        @include responsive(992px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;
        }
      }
    }
    &__title {
      font-family: "Monument Extended";
      font-weight: 700;
      font-size: 2.6rem;
      text-align: center;
      @include responsive(992px) {
        font-size: 2rem;
      }
      @include responsive(500px) {
        font-size: 1.5rem;
      }
    }
    &__description {
      font-family: "Acumin Pro Wide";
      font-size: 1.4rem;
      text-align: center;
      @include responsive(992px) {
        font-size: 1rem;
      }
      @include responsive(500px) {
        font-size: 1rem;
      }
    }
  }
  .egg1 {
    width: 50%;
    @include responsive(992px) {
      width: 70%;
    }
    @include responsive(500px) {
      width: 80%;
    }
  }
}
