@import '../../global/css/mixins.scss';

.footer-container{
    height: 100vh;
    width: 100vw;
    background-color: #040404;
    position:relative;
    @include flexible(flex, column, nowrap, center, center);

    .footer-info{
        
        width: 55%;
        height: 30vh;
        position: absolute;
        z-index: 1;
        @include flexible(flex, column, nowrap, space-between, center);
        @include responsive(1400px){
            width: 80%;
        }

        @include responsive(992px){
            width: 90%;
        }

        .footer-h1{
            // border: 1px solid green;
            font-size: 3.875rem;
            @include responsive(992px){
                width: 18rem;
                font-size: 2rem;
                text-align: center;
            }
        }   
        .footer-p{
            // border: 1px solid greenyellow;
            font-size: 1.438rem;
            width: 90%;
            text-align: center;
            @include responsive(992px){
                width: 18rem;
                font-size: 1rem;
                text-align: center;
            }
        }
        .wedrink-store{
            // border: 1px solid aqua; 
            width: 55%;
            @include flexible(flex, row, nowrap, space-evenly, center);
            @include responsive(992px){
                img{
                    width: 5rem;
                }
            }
        }
    }
    .shapes{
        // border: 1px solid red; 
        @include flexible(flex, row, nowrap, center, center);
        width: 47vw; 
        height: 100vh; 
        .egg1{
            width: 100%;

        }
        @include responsive(992px){
            width: 80%;
        }
    }
}