.input-wrapper-xnodui {
  display: inline-block;
  position: relative;
  /* border: solid 1px #ff9900; */
  display: inline-flex;
  flex-direction: column;
}
.input-wrapper-xnodui--full-width {
  width: 100%;
}
.input-wrapper-xnodui--s {
  font-size: 10px;
}
.input-wrapper-xnodui--m {
  font-size: 16px;
}
.input-wrapper-xnodui--l {
  font-size: 20px;
}
.input-xnodui {
  border: solid 2px var(--input-border-color);
  border-radius: var(--radius-input);
  padding: 0.7em 0.8em;
  background-color: var(--background-color-input);
  transition: border 0.5s;
  font-size: 1em;
  font-family: var(--input-font);
  color: var(--input-text-color);
}
.input-xnodui--full-width {
  width: 100%;
}
.input-xnodui:hover {
  border: solid 2px var(--primary-color);
}
.input-xnodui:focus {
  outline: none;
  border: solid 2px var(--primary-color);
}
.input-xnodui--error {
  border-color: #f31260;
}
.input-xnodui--error:hover {
  border-color: #f31260;
}
.input-xnodui--error:focus {
  border-color: #f31260;
}
.input-xnodui-error-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2em;
  /* margin-left: 0.1em; */
  /* border: solid 1px #88ff00; */
}
.input-xnodui-error {
  color: #f31260;
  font-size: 0.8em;
  font-family: var(--input-font);
  line-height: 1.1em;
  /* margin-top: 0.2em; */
  /* border: solid 1px #00ccff; */
  margin-left: 0.1em;
  width: 100%;
}
.input-xnodui-error-icon {
  width: 0.75em;
  /* height: 1.3em; */
  /* border: solid 1px #ff9900; */

  /* transform: translateY(-0.07em); */
}

.input-label-xnodui {
  font-family: var(--input-font);
  color: var(--input-text-color);
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
