@import '../../../sass/main.scss';
.activities {
  width: 85%;
  margin: 0 auto;

  &__container {
    background: var(--gradient-secondary);
    border-radius: 2rem;
    padding: 1rem;
  }
  &__row {
    display: flex;
    gap: 15px;
    padding: 7px 0;
    align-items: center;
  }
  &__image {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 8px;
  }

  &__divider {
    margin: 25px 0 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 1.2em;
  }

  &__description {
    font-size: 13px;
    color: #bdbdbd;
  }
}
