@import '../../../../sass/stylesImports.scss';
.section-party-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  .container-party {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    justify-content: center;
  }
  .party-selection-container {
    width: 100%;
  }
  .no-club {
    justify-self: center;
  }
  .loading-party {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
