.footer {
  text-align: center;
  &__title {
    font-weight: 400;
    font-family: "Fredericka the Great";
    font-size: 8rem;
  }
  &__heart {
    width: 30rem;
  }
  &__line {
    width: 60%;
  }
}
