fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.party-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  padding: 0 1rem 1rem 0;
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 0 0 0 1rem;
  &__title {
    font-family: "Rajdhani", sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__create-bars {
      &__data {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    &__category {
      input {
        appearance: radio;
        width: 20px;
        height: 20px;
      }
    }

    &__buttons-container {
      display: flex;
      gap: 20px;
    }
  }
}
