.tabbar-container{
    background: var(--gradient-primary-left-to-right);
    border-radius: 1.9rem;
    box-shadow: 0rem .5rem .7rem rgba(39, 34, 70, 0.1);
    width: 80%;
    height: 4.25rem;
    position: fixed;
    left: 50%;
    top: 88%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
    .active_home {
        img{
            content: url("../../../assets//icons/Selected-Icons/selected_home.svg");
        }
    }
    .active_activities {
        img{
            content: url("../../../assets//icons/Selected-Icons/selected_activities.svg");
        }
    }
    .active_inventory {
        img{
            content: url("../../../assets//icons/Selected-Icons/selected_drinks.svg");
        }
    }
    .active_statistics {
        img{
            content: url("../../../assets//icons/Selected-Icons/selected_statistics.svg");
        }
    }
    .active_settings {
        img{
            content: url("../../../assets//icons/Selected-Icons/selected_settings.svg");
        }
    }
}

