.welcome-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    gap: 3rem;
    .logo-container{
        width: 8.18rem;
        img{width: 100%;}
    }
    .login-btn-container{
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 1rem
    }
    .welcome{
        font-size: 1.25rem;
        font-family: 'Acumin Pro Wide';
        font-weight: 600;
    }
    .login-btn{
        width: 100%;
        padding: 1rem;
        height: 3.75rem;
        border-radius: 1.25rem;
        background: var(--gradient-secondary);
        box-shadow: 0px 0px 20px rgba(255, 84, 123, 0.3);
        display: flex;
        align-items: center;
        span{font-family: 'Acumin Pro Wide';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;}
    }
}