@import '../../../../sass/stylesImports.scss';
.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1.8rem;
  padding: 1.3rem;
  position: relative;
  width: 15.6rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include primary-gradient-dark-bg;
    mix-blend-mode: lighten;
    border-radius: 1.8rem;
  }
}
