.input-radio {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0.4rem;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
  background-color: #816d7c;
  flex-shrink: 0;
  margin-left: auto;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: 50%;
    @include green-gradient-light-bg;
  }
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    transform: scale(0);
    @include green-gradient-light-bg;
  }
  &__checked {
    .label-method__div::after {
      transform: scale(1);
    }
  }
}
