@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin limits($width, $height, $margin, $padding){
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
}