@use "../../../../sass/stylesImports.scss" as styles;

.login-form {
  @include styles.flex(column, nowrap, space-between, center);
  width: 100%;
  margin-top: 3rem;
  border: solid 1px red;
  &__input-area-wrapper {
    @include styles.flex(column, nowrap, start, center);
    gap: 1.5rem;
    width: 100%;
  }
}
