@use "../../sass/stylesImports.scss" as styles;

.input-wrapper {
  border: none;
  background-color: styles.$color-primary;
  color: styles.$color-secondary;
  font-size: styles.$text-size-14;
  width: 100%;
  height: 5.5rem;
  border-radius: 3rem;
  padding: 0rem 2.5rem 0rem 6rem;
  vertical-align: bottom;
  &__label-input {
    height: 100%;
    @include styles.flex(column, nowrap, end, start);
  }
  &__input {
    background-color: transparent;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #ffffffa9;
    }
  }
}
