@use "../../sass/stylesImports.scss" as styles;

.input-container {
  width: 100%;
}
.input-wrapper {
  background-color: styles.$color-primary;
  width: 100%;
  height: 5.5rem;
  border-radius: 3rem;
  padding: 0rem 2rem 0rem 2rem;
  vertical-align: bottom;
  position: relative;
  @include styles.flex(row, nowrap, start, center);

  &__label-input {
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    @include styles.flex(column, nowrap, center, start);
  }
  &__input {
    background-color: transparent;
    color: styles.$color-secondary;
    font-size: styles.$text-size-14;
    height: 2rem;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #ffffffa9;
    }
  }
  &__label {
    font-size: styles.$text-size-14;
    color: #ffffffa9;
  }

  &__password-btn {
    background-color: transparent;
    @include styles.flex(column, nowrap, center, center);

    &:focus {
      outline: none;
    }
  }
}
.error {
  color: #ff0000c2;
  font-size: styles.$text-size-12;
  text-align: center;
  margin-top: 0.5rem;
}
