.bizarrap-tour {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__cap {
    position: absolute;
    width: 14rem;
    top: 1rem;
    left: -5rem;
    transform: rotate(-80deg);
  }
  &__logo {
    width: 14rem;
    position: absolute;
    top: 5rem;
    opacity: 0;
    animation: fadein 3s 1 forwards;
    &--svg {
      width: 100%;
      height: 100%;
    }
  }
  &__sunglasses {
    width: 23rem;
    position: absolute;
    top: -4rem;
    right: -5rem;
  }
  &__passport {
    width: 23rem;
    position: absolute;
    bottom: -10rem;
    right: 5rem;
    transform: rotate(-30deg) translateY(100%);
    animation: passport-bzrp-tour 1s 1 forwards;
    z-index: 2;
  }
}
@media (max-width: 600px) {
  .bizarrap-tour {
    &__logo {
      top: 20%;
    }
  }
}
