@import '../../../sass/stylesImports.scss';
.my-activities {
  margin-top: 2rem;
  &__container-activities {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 3.7rem 0;
    gap: 1rem;
  }
  &__no-activities {
    width: 100%;
  }
  .loader-wrapper {
    position: fixed;
    width: calc(100% - 4rem);
    height: 100vh;
  }
}
