.container-edit-barmans{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    z-index: 4;
    background: var(--color-background);
    padding-top: 8rem;
    .save-changes{
        margin-top: 20%;
        color: white;
        width: 80%;
        height: 2.5rem;
        background: var(--gradient-primary-left-to-right);
        border-radius: 6.25rem;
        box-shadow: 0rem 0rem 1.25rem rgba(255, 84, 123, 0.5);
    }
    .cancel{
        margin-top: 3rem;
        margin-bottom: 5rem;
        text-decoration: underline;
    }
    .erros{
        width: 85%;
        margin-top: .3rem;
        font-weight: 400;
        font-size: 0.56rem;
        color: red;
    }
}