.container-edit-barmans{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    z-index: 4;
    background: var(--color-background);

    .backbutton-notifications{
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin-top: 2.5rem;
        height: 1.78rem;
        margin-bottom: 1rem;
        img{
            cursor: pointer;
        }
    }
    .container-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 8rem;
    }
    .container-label{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .outer-label{
        width: 85%;
        margin: .5rem ;

        label{
            font-weight: 600;
            font-size: 1rem;
        }
    }
    hr{
        width: 100%;
        border: none;
        height: 1px;
        background: var(--gradient-primary-left-to-right);
    }
    input{
        background-color: transparent;
        color:white;
        border: 0;
        width: 100%;
        &:focus{
            outline:0px;
        }
    }
    .container-input{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        height: 2.5rem;
    }
    .save-changes{
        margin-top: 60%;
        color: white;
        width: 85%;
        height: 2.5rem;
        background: var(--gradient-primary-left-to-right);
        border-radius: 6.25rem;
        box-shadow: 0rem 0rem 1.25rem rgba(255, 84, 123, 0.5);
    }
    .cancel{
        margin-top: 3rem;
        margin-bottom: 5rem;
        text-decoration: underline;
    }
    .erros{
        width: 85%;
        margin-top: .3rem;
        font-weight: 400;
        font-size: 0.56rem;
        color: red;
    }
}