@use "../../sass/stylesImports" as styles;
.recap {
  width: 100%;
  padding: 5rem;
  @include styles.flex-config(flex, center, center, column, nowrap);
  body {
    overflow-y: hidden !important;
  }

  &__item-wrapper {
    width: 55%;
  }
  &__year {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.534);
    margin-top: 2rem;
    text-align: center;
  }
  &__btn {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    width: 12rem;
    backdrop-filter: blur(1rem);
  }
}
@media (max-width: 820px) {
  .recap {
    padding: 2rem;
    padding-top: 7rem;
    &__item-wrapper {
      width: 75%;
    }
  }
}
@media (max-width: 600px) {
  .recap {
    &__item-wrapper {
      width: 95%;
    }
    &__btn {
      height: 3.5rem;
      width: 15rem;
      font-size: 2rem;
    }
  }
}
