@use "../../sass/stylesImports" as styles;
.recap {
  width: 100%;
  padding: 2rem;
  @include styles.flex-config(flex, center, center, column, nowrap);
  &__item-wrapper {
    width: 55%;
  }
  &__year {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.534);
    margin-top: 2rem;
    text-align: center;
  }
  &__btn {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    width: 12rem;
    backdrop-filter: blur(1rem);
  }
}
