@use "../../sass/stylesImports" as styles;
.recap {
  width: 100%;
  padding: 5rem;
  @include styles.flex-config(flex, center, center, column, nowrap);
  &__item-wrapper {
    width: 55%;
  }
  &__year {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.534);
  }
}
