//BUTTON CLASSES

button,
input[type='submit'] {
  background-color: transparent;
  border: none;
  color: $color-white;
}
.btn-primary {
  font-family: 'Acumin Pro Wide', sans-serif;
  &--l {
    @include primary-gradient-dark-bg;
    box-shadow: 0px 0px 2rem rgba($glow-btn, 0.5);
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 600;
    border-radius: 10rem;
    width: 100%;
    height: 5rem;
  }
  &--m {
    @include primary-gradient-dark-bg;
    box-shadow: 0px 0px 2rem rgba($glow-btn, 0.5);
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 500;
    border-radius: 10rem;
    width: 100%;
    height: 4rem;
  }
  // &--s {
  // }
}
.btn-secondary {
  font-family: 'Acumin Pro Wide', sans-serif;
  &--m {
    @include grey-gradient-bg;
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 500;
    border-radius: 10rem;
    width: 100%;
    height: 4rem;
  }
}
