.cam-container {
  margin-top: 1rem;
  background: #ffffff8c;
  display: inline-block;
  border-radius: 100%;
  padding: 9px;
  transition: background 0.5s ease-in-out;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: relative;
  &__progress {
    position: absolute;
    top: 0;
    path {
      transition: stroke-dashoffset 1s linear;
    }
  }
}
.cam {
  //   border: solid 1rem #ffffff8c;
  width: 168px;
  height: 210px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000000;

  &__video {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  &__img {
    position: absolute;
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
// .cam-container.near-oval {
//   background: linear-gradient(to left, #6400ff 0%, #3d0b88 90%);
//   transition: background 1s ease-in-out;
// }
