.gradient-green-bar{
    background: var(--gradient-tertiary);
    border-radius: 1.9rem;
    box-shadow: 0rem .5rem .7rem rgba(39, 34, 70, 0.1);
    width: 18.3rem;
    height: 4.25rem;
    position: fixed;
    left: 50%;
    top: 88%;
    transform: translateX(-50%) translateY(100px);
    animation: bar 1s ease forwards;
    display: flex;
    .amount{
        background-color: white;
        color: black;
        width: 1.3rem;
        height: 1.3rem;
    }
}

@keyframes bar {
    to {
      transform: translateX(-50%) translateY(0);
    }
  }
