.gradient-green-bar{
    background: var(--gradient-tertiary);
    border-radius: 1.9rem;
    box-shadow: 0rem .5rem .7rem rgba(39, 34, 70, 0.1);
    width: 18.3rem;
    height: 4.25rem;
    position: absolute;
    margin-top: 88%;
}

@keyframes bar {
    to {
      transform: translateX(-50%) translateY(0);
    }
  }
