@import '../../global/css/mixins.scss';
.wedrink-container{
    width: 100vw;
    overflow: hidden;
    background: var(--color-background);
    .with-wedrink{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        h1{
            font-weight: 700;
            font-size: 5rem;
            text-align: center;
            @include responsive(992px){ 
                font-size: 3rem;
                width: 80%;
            } 
        }
        .ellipse{
            width: 13.3rem;
            height: 13.3rem;
            background: linear-gradient(90deg, rgba(41, 183, 223, 0.45) 0%, rgba(73, 38, 157, 0.45) 100%);
            border-radius: 50%;
            z-index: -1;
            position: absolute;
        }
        .ellipse.one{
            left: -4%;
        }
        .ellipse.two{
            width: 4.4rem;
            height: 4.4rem;
            top: 35%;
            left: 8%;
        }
        .ellipse.three{
            width: 3rem;
            height: 3rem;
            left: 15%;
        }

        .ellipse-pink{
            width: 13.3rem;
            height: 13.3rem;
            background: linear-gradient(180deg, rgba(178, 10, 168, 0.7) 0%, rgba(111, 31, 171, 0.7) 100%);
            border-radius: 50%;
            z-index: -1;
            position: absolute;
        }
        .ellipse-pink.one{
            right: 25%;
        }
        .ellipse-pink.two{
            width: 4.4rem;
            height: 4.4rem;
            right: 17%;
        }
        .ellipse-pink.three{
            width: 3rem;
            height: 3rem;
            right: 10%;
            top: 40%;

        }
    }
}