body {
  font-family: "Roboto", sans-serif;
  color: $color-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "Roboto", sans-serif;
}
.heading-primary {
  font-size: $heading-size-20;

  &--main {
    font-weight: 700;
  }
}

.highlighted {
  color: $color-primary;
}
