.gradient-text{
    margin-top: -1rem;
    p{
        position: relative;
        font-size: .7rem;
        cursor: pointer;
        background: var(--gradient-primary-left-to-right);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0.063rem;
        background: var(--gradient-primary);
      }
}