.container-qr-reader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-top: 6rem;
    width: 100vw;
    overflow: hidden;
    transform: translateY(100%);
    animation: scanner 0.3s 1 1s forwards;
    button{
        position: absolute;
        color: white;
        z-index: 4;
        top: 30%;
        left: 90%;
    }
    @keyframes scanner {
        to{
            transform: translateY(0%);
        }
    }
}
