.c2022 {
  height: 85vh;
  position: relative;
  overflow: hidden;
  display: inline-block;
  transform: rotate(-3deg);
  // border: solid 1px aqua;
  &__image {
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
  &__calendar {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translateX(-30%);
    color: black;
    width: 70%;
    button {
      color: black;
    }
  }
  &__year {
    font-family: Shadow;
    font-weight: 400;
    position: absolute;
    top: -4rem;
    right: 0;
    font-size: 2.5rem;
    transform: rotate(20deg);
    color: #312e2bc2;
    width: 7rem;
  }
}
@media (max-width: 820px) {
  .c2022 {
    &__calendar {
      top: 19%;
    }
  }
}
@media (max-width: 600px) {
  .c2022 {
    height: auto;
    width: 85vw;
    &__image {
      width: 100%;
    }
    &__year {
      font-family: Shadow;
      font-weight: 700;
      position: absolute;
      top: -6rem;
      left: 0;
      font-size: 3rem;
      transform: rotate(-20deg);
    }
    .calendar {
      &__month {
        font-size: 1.9rem;
      }
      &__day {
        font-size: 1rem;
      }
    }
  }
}
