.checkout {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  .checkout-party {
    margin-top: 2rem;
    width: 85%;
    height: 11rem;
    background: var(--gradient-secondary);
    border-radius: 2rem;
    padding: 0.5rem;

    .logo {
      width: 3.3rem;
      border-radius: 50%;
    }

    .party-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .party {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-right: 7.4rem;
    }
    .preparation-time {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 0.5rem;

      p {
        font-family: 'Acumin Pro Wide';
        font-style: normal;
        font-weight: 400;
        font-size: 0.87rem;
      }
      h3 {
        font-family: 'Acumin Pro Wide';
        text-transform: none;
        font-style: normal;
        font-weight: 600;
        font-size: 0.87rem;
        margin-left: 0.2rem;
        margin-top: 0.2rem;
      }
    }
  }
  .payment-method {
    width: 85%;
    margin-top: 3.5rem;
    .payment-method-header {
      display: flex;
      align-items: center;
      gap: 1rem;

      &.bar {
        margin-top: 30px;
      }
    }
    .change {
      margin-bottom: -0.8rem;
    }
  }
  .method {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.2rem;
    margin-top: 1rem;
    width: 100%;
    height: 6rem;
    background: var(--gradient-secondary);
    border-radius: 2rem;
  }
  .current-method {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .icon-method {
    width: 3rem;
  }
  .total-to-pay {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .total {
    display: flex;
    align-items: center;
    font-weight: 300;
    gap: 0.5rem;
    min-width: 5rem;
    p {
      font-size: 0.75rem;
    }
  }
  .amount {
    font-weight: 600;
  }
  .order {
    margin-top: 2rem;
    .order-details {
      width: 100%;
      margin-top: 1rem;
    }
    .detail {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
