@import "../../../sass/stylesImports.scss";
.form-card {
  margin-top: 2rem;
  // margin-bottom: 2rem;
  &__title {
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
  }
  &__form-container {
    padding: 2rem;
    @include grey-gradient-bg;
    width: 100%;
    border-radius: 1rem;
    margin-top: 0.4rem;
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    .input-wrapper input {
      background-color: #542a4a;
    }
  }
  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 0.4rem;
    // border: solid 1px orange;
  }
  &__input-buttons-wrapper {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  &__buttons-wrapper {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
}
