@use "../../sass/stylesImports.scss" as styles;

.forgot-password {
  width: 100vw;
  height: 100vh;
  @include styles.flex(column, nowrap, space-between, center);
  &__input-wrapper {
    height: 100%;
  }
}
