@use "../../sass/stylesImports.scss" as styles;

.forgot-password {
  width: 100vw;
  height: 100vh;
  padding-bottom: 2.3rem;
  @include styles.flex(column, nowrap, space-between, center);
  &__title {
    color: styles.$color-tertiary;
    font-size: styles.$heading-size-24;
    opacity: 0.9;
  }
  &__input-wrapper {
    @include styles.flex(column, nowrap, center, center);
    flex: 1;
    width: 100%;
  }
}
