@import '../../../sass/main.scss';
.notifications-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &__sub-title {
    margin-bottom: 1.4rem;
  }
  &__section-previous {
    margin-top: 3.7rem;
  }
}
