/* Global Variables */
:root {
  --color-primary: #ff547b;
  --color-secondary: #d639fd;
  --gradient-primary: -webkit-linear-gradient(
    90deg,
    var(--color-primary),
    var(var(--color-secondary))
  );
  --color-background: linear-gradient(180deg, #070104 0%, #460538 100%);
  --padding-sides: 25px;
  --gradient-secondary: linear-gradient(243.94deg, rgba(255, 255, 255, 0.6) -41.74%, rgba(255, 255, 255, 0) 142.08%);
}

body {
  font-family: "Acumin Pro Wide", sans-serif;
  background-image: var(--color-background);
  min-height: 100vh;
  width: 100vw;

  color: white;
}

/********* HEADINGS *********/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rajdhani", sans-serif;
  line-height: 0.955em;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 0.6875rem;
  font-weight: 400;
  font-family: "Acumin Pro Wide", sans-serif;
}

p {
  font-size: 1rem;
}
button{
  background-color: transparent;
  border: none;
}
