@import "../../global/css/mixins.scss";

.form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 13, 13, 0.7);
  backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  display: none;
  &__closing-area {
    // border: solid 1px aqua;
    position: fixed;
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  &--show {
    display: flex;
    animation: fadein 1 0.5s forwards;
  }
  &--hidden {
    display: flex;
    opacity: 1;
    animation: fadeout 1 0.5s forwards;
  }
  &__popup {
    background: linear-gradient(
      180deg,
      rgba(4, 4, 4, 0.72) 0%,
      rgba(16, 7, 33, 0.72) 100%
    );
    backdrop-filter: blur(10px);
    border-radius: 28px;
    // height: 90%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__title {
      font-family: "Monument Extended";
      font-weight: 800;
      font-size: 18px;
      text-align: center;
      width: 90%;
    }
    @include responsive(992px) {
      width: 80%;
      padding-bottom: 2rem;
    }
    @include responsive(500px) {
      width: 90%;
      padding-bottom: 2rem;
    }
  }
  &__form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    width: 70%;
    @include responsive(992px) {
      width: 85%;
    }
    &__phone {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .select-wrapper.gradient {
        width: 30% !important;
      }
      @include responsive(992px) {
        .select-wrapper.gradient {
          width: 50% !important;
        }
      }
    }
  }
  &__cancel {
    color: white;
    width: 1rem;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
  }
  &__submit {
    margin-top: 1rem;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
    display: none;
  }
}
