.header-modules-container{
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em
    }
    h3{
        text-transform: capitalize;
    }

}