.main {
  &__line0 {
    position: absolute;
    width: 100%;
    // top: -30rem;
    right: -50rem;
    z-index: -1;
    opacity: 0.2;
    // transform: rotate(-180deg);
  }
  &__line1 {
    position: absolute;
    width: 100%;
    top: 70vh;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    transform: rotate(-20deg);
  }
}
