.header-oranizer-container{
    width: 100%;
    position: fixed;
    background-color: #10010b;
    z-index: 5;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        cursor: pointer;
    }
    .header-container{
        width: 85%;
    }
    h1{
        font-family: 'Acumin Pro Wide';
        text-transform: none;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .anchor{
        width: 1.5rem;
    }
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.43rem;
        height: 1.78rem;
        margin-bottom: 1.5rem;
    }
    .organizer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p{
        font-family: 'Acumin Pro Wide';
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1rem;
        margin-top: -0.5rem;
        margin-bottom: 1.5rem;
    }
    .organizer-party-container{
        width: 80%;
        display: flex;
        align-items: center;
        gap: .5rem;
        white-space: nowrap;
        h2{
            font-family: 'Acumin Pro Wide';
            text-transform: capitalize;
            font-size: 1rem;
        }
        .organizer-party{
            font-weight: 400;
        }
        .path{
            font-weight: 400;

        }
        
    }
    .party{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        h1{
        font-weight: 500;
        font-size: 1.25rem;
        text-transform: capitalize;
        }
    }
}