@use "../../styles/stylesImports.scss" as styles;
.login {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .swiper-wrapper {
    align-items: center !important;
  }
  &__swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  &__medbot {
    width: 50%;
  }
  &__slide {
    box-sizing: border-box;
    width: 90%;
    padding: 3.2rem 2.7rem;
    border-radius: 2rem;
    background: styles.$grey-gradien-bg;
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
      &__title {
        font-size: 1.6rem;
      }
      &__check-container {
        display: flex;
        align-items: center;
        gap: 1rem;
        label {
          font-size: 1.3rem;
          cursor: pointer;
        }
      }
    }
    &__btn-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      p {
        font-size: 1.4rem;
      }
    }
    &__btn {
      width: 75%;
      margin-top: 3rem;
    }
  }
  &__back-btn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 2.8rem;
    background: transparent;
    border: none;
    transform: translateX(10rem);
    opacity: 0;
    animation: translate-X-0 1 0.5s forwards;
    cursor: pointer;
    z-index: 3;
  }
}

@media screen and (min-width: 1200px) {
  .login {
    font-size: 9px;

    &__slide {
      width: 50%;
      &__form {
        width: 70%;
      }
      &__btn {
        width: 60%;
      }
    }
  }
}
