html,
body {
  font-size: 16px;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --primary-color: #7544df;
  --color-transparent: transparent;

  --btn-radius: 30px;
}
