@import "../../sass/stylesImports.scss";
.add-btn {
  width: 100%;
  height: 2.5rem;
  @include grey-gradient-bg;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  color: white;
}
