.select-wrapper {
  width: 100%;
  height: 2rem;
  position: relative;

  &__select-container {
    width: 100%;
    background: linear-gradient(
      243.94deg,
      rgba(57, 57, 57, 0.5) -41.74%,
      rgba(147, 147, 147, 0.5) -41.72%,
      rgba(39, 39, 39, 0.5) 142.08%
    );
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(0.4rem);
  }
  &__select-container.gradient {
    border-radius: 0.7rem;
    min-height: 100%;
  }
  &__select-container.shadow {
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  &__placeholder {
    opacity: 0.8;
    font-size: 0.87rem;
    text-transform: capitalize;
  }
  &__selected {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
  }
  &__selected.gradient {
    height: auto;
    min-height: 1.6rem;
  }
  &__selected-text {
    font-family: "Acumin Pro Wide";
    font-weight: 600;
    font-size: 0.87rem;
    text-transform: capitalize;
  }
  &__options-container {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__options-container.show {
    margin-top: 1rem;
    max-height: 30vh;
    overflow-y: scroll;
    z-index: 9;
  }
  &__icon {
    position: absolute;
    right: 1rem;
    width: 0.8rem;
    transition: all 0.2s;
  }
  &__icon.show {
    transform: rotate(180deg);
  }
  &__option {
    width: 95%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 0.87rem;
      text-transform: capitalize;
    }
  }
  &__option.option-selected {
    background: rgba(0, 0, 0, 0.212);
  }
  &__line {
    width: 95%;
    border: none;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.549);
  }
  &__label-container {
    margin-bottom: 0.5rem;
    label {
      font-size: 1.4rem;
    }
  }
}
.select-wrapper.gradient {
  background: var(--color-primary);
  border-radius: 2.5rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__bg {
    background: #0f0919;
    border-radius: 2.5rem;
    height: 100%;
    width: 100%;
  }
}
.select-wrapper.gradient.error-wrapper {
  background: red;
}
.error {
  color: red;
  margin-top: 0.5;
}
