@import '../../../../../sass/stylesImports.scss';
.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 90vh;
  &__title {
    margin-top: 1.5rem;
  }
  &__form {
    width: 100%;
    margin-top: 3rem;
  }
  &__hide-buttons {
    display: none;
  }
  &__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
    position: absolute;
    bottom: 5rem;
    width: 100%;
  }
  &__save-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__loading-animation {
    position: absolute;
    height: 60%;
  }
  &__row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 2.2rem;
  }
  &__select-container-account {
    width: 12rem;
    input {
      padding-left: 3.5rem;
    }
  }
  .input-mail {
    color: rgba(255, 255, 255, 0.322);
  }
}
