body {
  font-family: "Montserrat", sans-serif;
  color: $color-primary;
}

.heading-primary {
  /*h1*/
  color: $color-primary;
  font-family: "Montserrat", sans-serif;

  &--main {
    color: $color-secondary;
    font-size: $heading-size-44;
    font-weight: 800;
  }

  &--upper {
    text-transform: uppercase;
  }
}
.heading-secondary {
  /*h1*/
  color: $color-tertiary;
  font-family: "Montserrat", sans-serif;

  &--main {
    font-size: $heading-size-26;
    font-weight: 800;
  }
  &--upper {
    text-transform: uppercase;
  }
}
.highlighted {
  color: $color-primary;
}
