body {
  font-family: "Acumin Pro Wide", sans-serif;
  color: $typography-primary;
}

.heading-primary {
  /*h1*/
  color: $typography-primary;
  font-family: "Acumin Pro Wide", sans-serif;

  &--main {
    /*WeDrink title + selected nightclub name*/
    font-size: $heading-size-24;

    font-size: 44px;

    font-weight: 800;
  }

  &--upper {
    text-transform: uppercase;
  }
}
