/******** 
Moncerrat
********/

@font-face {
  font-family: "Moncerrat";
  src: url("./Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Moncerrat";
  src: url("./Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Moncerrat";
  src: url("./Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-family: "sans-serif";
}

@font-face {
  font-family: "Moncerrat";
  src: url("./Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 800;
}
