//COLORS

/* GRADIENTS */
/*Primary gradient PASTEL pink colors*/
$color-primary-light: #00fdff;
$color-primary-mid: #00fbff;
$color-primary-dark: #00b3ff;

/*Secondary gradient DARKER pink colors*/
$color-secondary-light: #ff547b;
$color-secondary-dark: #d639fd;

/*Tertiary gradient GREEN colors*/
$color-green-dark-1: #5ed85a;
$color-green-dark-2: #2db4ac;

/*Tertiary gradient PASTEL GREEN colors*/
$color-green-light-1: #90ff8c;
$color-green-light-2: #63fff6;

/*Fifth gradient BACKGROUND colors*/
$color-background-primary: #032132;
$color-background-secondary: #000000;

/*GENERAL colors */
$color-white: #fff;
