//COLORS

/* GRADIENTS */
/*Primary gradient PASTEL pink colors*/
$color-primary-light: #ff6689;
$color-primary-dark: #e066ff;

/*Secondary gradient DARKER pink colors*/
$color-secondary-light: #ff547b;
$color-secondary-dark: #d639fd;

/*Tertiary gradient GREEN colors*/
$color-green-dark-1: #5ed85a;
$color-green-dark-2: #2db4ac;

/*Tertiary gradient PASTEL GREEN colors*/
$color-green-light-1: #90ff8c;
$color-green-light-2: #63fff6;

/*Fifth gradient BACKGROUND colors*/
$color-background-primary: #030111;
$color-background-secondary: #032132;

/*GENERAL colors */
$color-white: #fff;
$color-black: #000;

/*""Transparent"" color for search bar input*/
$searchBar-background: #54364d;
$input-background-primary: #30071b;
$input-background-secondary: #3f0434;
/*GLOW colors*/
$glow-btn: #ff547b;
$glow-txt: #d482fb;

//FONT SIZE

/*GENERAL*/
$text-size-18: 1.8rem; //18px
$text-size-16: 1.6rem; //16px
$text-size-14: 1.4rem; //14px
$text-size-12: 1.2rem; //12px
$text-size-10: 1rem; //10px

/*HEADINGS-TITLES*/
$heading-size-32: 3.2rem; //32px
$heading-size-28: 2.8rem; //28px
$heading-size-24: 2.4rem; //24px
$heading-size-20: 2rem; //20px
$heading-size-18: 1.8rem; //18px
$heading-size-16: 1.6rem; //16px

// FONT FAMILIES
$font-body: "Acumin Pro Wide", sans-serif;

//BORDER RADIUS
/*GENERAL-CONTAINERS*/
$border-radius-primary: 2rem; //20px
