@import '../../../sass/stylesImports.scss';
.input-div {
  margin-bottom: 2rem;
  margin-top: 1rem;

  label,
  input {
    display: block;
  }

  .input-wrapper {
    width: 100%;
    padding: 0.2rem;
    border-radius: 10rem;
    @include primary-gradient-light-bg;
    position: relative;
    @include primary-gradient-dark-bg;
  }

  &.error {
    .input-wrapper {
      background: red;
    }
  }
  .input-wrapper-bg {
    @include input-dark-bg;
    border-radius: 10rem;
  }
  input {
    @include input-gradient-bg;
    width: 100%;
    border-radius: 10rem;
    border: none;
    padding: 0 2.2rem;
    color: $color-white;
    display: block;
    height: 4rem;
    font-size: $text-size-16;

    &::placeholder {
      color: white;
      opacity: 0.4;
    }
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  label {
    margin-bottom: 0.5rem;
    font-size: $text-size-14;
  }

  .error {
    color: red;
    font-size: $text-size-12;
    margin-top: 5px;
  }

  &.datepicker {
    .MuiFormControl-root {
      @include primary-gradient-light-bg;
      border-radius: 10rem;
      width: 100%;
      padding: 0.2rem;
    }

    &.error .MuiFormControl-root {
      background: red;
    }

    .MuiInputAdornment-root {
      display: none;
    }

    .MuiOutlinedInput-root {
      border-radius: 10rem;
      @include input-dark-bg;
      outline: none;
      border: none;
      padding: 0;

      &.Mui-focus {
        border: none;
        outline: none;
      }
    }

    input {
      background-color: transparent;
      outline: none !important;
      border: none !important;
    }

    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  .toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;

    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
    }
  }
  .search_image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
  }
}
