.loader {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #fff5;
    border-top: 0.2rem solid #E066FF;
    border-radius: 50%;
    animation: rotate 2s infinite linear;
  }
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }