.classic-pizza {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 10rem;

  &__title {
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Fredericka the Great";
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  &__pizza-top {
    width: 25rem;
    margin-right: -20%;
  }
  &__pizza-bottom {
    width: 40rem;
  }
}
