.container-edit-barmans{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transform: translateX(100%);
    animation:  _transition 0.4s 1 forwards;
    z-index: 4;
    background: var(--color-background);

    .backbutton-notifications{
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin-top: 2.5rem;
        height: 1.78rem;
        margin-bottom: 1rem;
        img{
            cursor: pointer;
        }
    }
    .container-label{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .outer-label{
        width: 85%;
        margin: .5rem ;

        label{
            font-weight: 600;
            font-size: 1rem;
        }
    }
    hr{
        width: 100%;
        border: none;
        height: 1px;
        background: var(--gradient-primary-left-to-right);
    }
    input{
        background-color: transparent;
        color:white;
        border: 0;
        width: 100%;
        &:focus{
            border: 0
        }
    }
}