.container-edit-barmans{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    transform: translateX(-100%);
    animation:  _transition 0.4s 1 forwards;






}