@import '../../../sass/stylesImports.scss';

.charge-point {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  &__shoozatag {
    @include grey-gradient-bg;
    width: 100%;
    height: 11rem;
    border-radius: 2rem;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    // border: 1px solid aqua;
  }
  &__title {
    margin-bottom: 1rem;
  }
  &__amount-card {
    @include grey-gradient-bg;
    width: 100%;
    height: 22rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
  }
  &__btn {
    width: 19rem;
  }
  &__input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  &__input-charge {
    background: none;
    width: 100%;
    border: none;
    color: white;
    font-size: 3.6rem;
    font-weight: 700;
    position: relative;
    -webkit-appearance: auto;
    appearance: auto;
    text-align: center;
    &:focus {
      outline: none;
    }
  }
  .white-line {
    margin: 0;
  }
}
