/* Root style, reference for REM unit */
html {
  // color-scheme: light dark;
  // 1rem setup
  font-size: 10px;

  @include respond(tab-port) {
    font-size: 70%; // 1rem = 11.2px -> 8/16
  }

  @include respond(tab-land) {
    font-size: 75%; //1rem = 12px -> 12/16
  }

  @include respond(big-desktop) {
    font-size: 87.5%; //1rem = 14px -> 14/16
  }
}

body {
  box-sizing: border-box;
  background-color: $color-primary;
  min-height: 100vh;
  width: 100vw;
  background-image: url("/assets/background/background-image.webp");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: $font-body;
}
body::after {
  content: url("/assets/background/BOT+.webp");
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.8;
}
body::before {
  content: url("/assets/background/MED.webp");
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.8;
}
button {
  font-family: $font-body;
}
#root {
  width: 100vw;
  height: 100vh;
}

* {
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
