@use "../../sass/stylesImports.scss" as styles;

.new-password {
  width: 100vw;
  height: 100vh;
  padding-bottom: 2.3rem;
  @include styles.flex(column, nowrap, space-between, center);

  &__logo {
    position: absolute;
    top: 3rem;
  }
  &__title {
    color: styles.$color-tertiary;
    font-size: styles.$heading-size-24;
    opacity: 0.9;
  }
  &__description {
    color: styles.$color-tertiary;
    font-size: styles.$text-size-14;
    margin-bottom: 2rem;
    text-align: center;
  }
  &__done {
    width: 90%;
    color: styles.$color-primary;
    font-size: styles.$text-size-12;
    margin-top: 2rem;
    text-align: center;
  }
  &__login {
    width: 90%;
    color: styles.$color-primary;
    font-size: styles.$text-size-14;
    margin-top: 2rem;
    text-align: center;
    text-decoration: underline;
  }
  &__input-wrapper {
    @include styles.flex(column, nowrap, center, center);
    flex: 1;
    width: 100%;
  }
}
