@import "../../sass/stylesImports.scss";
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
  }
  &__checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    border: solid 1px #fff;
    border-radius: 5px;
  }
  input:checked ~ .checkbox-container__checkmark {
    transition: all 0.2s;
    @include green-gradient-light-bg;
  }
  input ~ .checkbox-container__checkmark {
    transition: all 0.2s;
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
  }
  input:checked ~ .checkbox-container__checkmark:after {
    opacity: 1;
    transition: all 0.2s;
  }
  &__checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
}
