@import "../../sass/stylesImports.scss";
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
  }
  &__checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    border: solid 1px #fff;
    border-radius: 5px;
  }
  input:checked ~ .checkbox-container__checkmark {
    // box-shadow: 3px 3px 0px rgb(183, 183, 183);
    transition: all 0.2s;
    opacity: 1;
    background-image: linear-gradient(
      45deg,
      rgb(100, 61, 219) 0%,
      rgb(217, 21, 239) 100%
    );
  }
  input ~ .checkbox-container__checkmark {
    transition: all 0.2s;
    opacity: 1;
    // box-shadow: 1px 1px 0px rgb(183, 183, 183);
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  &__checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
  }

  /* Show the checkmark when checked */
  input:checked ~ .checkbox-container__checkmark:after {
    opacity: 1;
    transition: all 0.2s;
  }

  /* Style the checkmark/indicator */
  &__checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }
}
