@import '../../../sass/stylesImports.scss';

.popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 13, 13, 0.7);
  backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  z-index: 9;
  .popup {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 27rem;
    @include grey-gradient-bg;
    border-radius: 2rem;
    z-index: 9;
    box-sizing: border-box;
    padding: 1.3rem;
    &__loading-animation {
      width: 5rem;
      height: 5rem;
    }
    &__title {
      font-family: 'Rajdhani', sans-serif;
      font-weight: 700;
      font-size: 2.4rem;
      text-transform: uppercase;
      text-align: center;
    }
    &__description {
      text-align: center;
      p {
        font-family: 'Acumin Pro Wide';
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
    .loaderPopup {
      opacity: 0;
      animation: opacity-1 1.5s 1 forwards;
      &__loader {
        width: 3.7rem;
        height: 3.7rem;
      }
    }
    &__missingItem {
      color: #ff3838;
      text-transform: capitalize;
      margin-left: 0.05rem;
      margin-top: 0.5rem;
      display: inline-block;
    }
    &__closeText {
      margin-top: 1rem;
      margin-bottom: 1rem;
      p {
        position: relative;
        font-size: $text-size-16;
        font-weight: 500;
        cursor: pointer;
        @include primary-gradient-dark-txt;
        display: inline-block;
      }
      p::before {
        content: '';
        position: absolute;
        bottom: 15%;
        width: 100%;
        height: 0.1rem;
        @include primary-gradient-dark-bg;
      }
    }
  }
  .btn-mp {
    background: linear-gradient(90deg, #236ec7 0.32%, #6cb7ee 100.32%);
    box-shadow: 0px 0px 20px rgba(84, 122, 255, 0.5);
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 600;
    border-radius: 10rem;
    width: 100%;
    height: 5rem;
  }
}
