@import '../../../sass/stylesImports.scss';

.popup-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 13, 13, 0.7);
  backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  z-index: 9;
  .popup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.6rem;
    // margin-top: 16rem;
    // height: 33%;
    height: 27rem;
    width: 85%;
    @include grey-gradient-bg;
    border-radius: 1rem;
    transform: scale(0.2);
    animation: popup-in 0.2s 1 forwards;
    z-index: 2;
    box-sizing: border-box;
    &__loading-animation-container {
      position: relative;
      width: 5rem;
      height: 5rem;
    }
    &__loading-animation {
      position: absolute;
      width: 20rem;
      height: 20rem;
    }
  }
  img {
    width: 5rem;
    height: 5rem;
  }

  h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
  }
  p {
    font-family: 'Acumin Pro Wide';
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
  }

  button {
    width: 95%;
  }

  .description {
    width: 90%;
    text-align: center;
    // max-width: 12rem;
  }

  @keyframes popup-in {
    to {
      transform: scale(1);
    }
  }
}
