@import '../../../../sass/stylesImports.scss';
.cart-product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.8rem;
  @include grey-gradient-bg;
  filter: drop-shadow(0.2rem 0.2rem 1.25rem rgba(0, 0, 0, 0.08));
  border-radius: 2rem;
  width: 100%;
  height: 6rem;
  margin-top: 1.5rem;
  &__product-information {
    display: flex;
    align-items: center;
    width: 60%;
  }
  &__product-image-wrapper {
    min-width: 7rem;
    display: flex;
    border: 1px solid aqua;
  }
  &__amount {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  &__product-image {
    margin-top: -8%;
    width: 6.5rem;
  }
  &__packs-image-wrapper {
    margin-top: -8%;
    img.pack-image:first-child {
      margin-right: -4rem;
    }
    img.pack-image:last-child {
      margin-left: -4rem;
    }
    img.pack-image:not(:first-child, :last-child) {
      margin-right: -4rem;
      margin-left: -4rem;
    }
  }
  .pack-image {
    width: 6.5rem;
  }
  .buttons-img {
    filter: invert(1);
  }
}
