@use "../../../../sass/stylesImports.scss" as styles;

.chat-form {
  position: fixed;
  bottom: 0;
  width: 100%;
  @include styles.flex(row, nowrap, space-between, end);
  padding: 2rem;
  gap: 1.5rem;
  background-color: styles.$color-secondary;
  -webkit-box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.21);
  .btn {
    width: 6rem;
    height: 5rem;
    padding: 1rem;
    @include styles.flex(row, nowrap, center, center);
  }
  &__btn {
    &--send-img {
      width: 80%;
    }
    &--rec-img {
      width: 60%;
    }
  }
  &__recording {
    animation: breathing 2s infinite;
  }
  &__rec-info {
    width: 100%;
    height: 5rem;
    background-color: styles.$color-background-light;
    @include styles.flex(row, nowrap, start, center);
    border-radius: 1.6rem;
    padding: 1.5rem 1.5rem;
    position: relative;
    &__timer {
      font-size: styles.$text-size-14;
      color: #000000c2;
    }
    &__rec-light {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: #fd4646;
      animation: blink 1s infinite alternate;
      margin-right: 0.5rem;
    }
    &__cancel {
      position: absolute;
      right: 2rem;
      animation: moveText 3s ease-in-out infinite;
      @include styles.flex(row, nowrap, center, center);

      &--text {
        color: #0000008c;
        font-size: styles.$text-size-10;
        white-space: nowrap;
      }
      &--icon {
        // width: 1.3rem;
      }
    }
  }
}
