.menu-item {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  &__text {
    color: black;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 2.5rem;
  }
  &__item-top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__description {
    font-size: 1.5rem;
  }
}
