.container-details-categories{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding-bottom: 3rem;
    transform: translateY(150%);
    animation: slide 0.2s 1 0.5s forwards;
}