@import '../../../sass/stylesImports.scss';

.card-event-main {
  position: relative;
  &__bg {
    padding: 0.2rem;
    @include primary-gradient-dark-bg;
    border-radius: 1.7rem;
    margin-bottom: 1rem;
  }
  &__heading--container {
    position: absolute;
    bottom: 1rem;
    display: flex;
    width: 100%;
    z-index: 3;

    position: absolute;
    bottom: 0;
    padding: 0 1rem;
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    &__title {
      color: white;
      font-family: 'Acumin Pro Wide', sans-serif;
      font-size: $text-size-14;
      text-transform: uppercase;
      z-index: 4;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 0.2rem;
    }
  }

  &__picture--container {
    display: flex;
    height: 11rem;
    overflow: hidden;
    width: 18rem;
    border-radius: 1.5rem;
  }
  &__picture {
    filter: brightness(50%);
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    left: 0%;
    position: absolute;
    height: 100%;
    border-radius: 1.5rem;
  }

  &__address {
  }

  &__score-container {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani';
    font-size: 1.5rem;
    img {
      padding-bottom: 0.35rem;
      margin-right: 0.1rem;
    }
  }

  &__score-container {
    position: absolute;
    top: 7px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani';
    font-size: 1.5rem;
    img {
      padding-bottom: 0.35rem;
      margin-right: 0.1rem;
    }
  }
}
