.section-five {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: white;
  &__title-container {
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 6rem;
    transform: rotate(-90deg);
    color: black;
  }
}
