.section-five {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  background-color: white;
  &__content {
    display: flex;
    width: 100%;
    height: 80%;
  }
  &__title-container {
    border: solid 1px black;
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 6rem;
    transform: rotate(-90deg);
    color: black;
  }
  &__data-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__data {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 3rem;
  }
}
