@import "../../sass/stylesImports.scss";

.text-area {
  &__wrapper {
    @include primary-gradient-dark-bg;
    width: 100%;
    height: 18rem;
    padding: 0.2rem;
    border-radius: $border-radius-primary;
  }
  &__wrapper-bg {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-primary;
    @include input-dark-bg;
  }
  &__wrapper.error {
    background: red;
  }
  &__error {
    color: red;
    font-size: 1.2rem;
  }
  &__input-area {
    border: none;
    resize: none;
    @include input-gradient-bg;
    border-radius: $border-radius-primary;
    // font-size: $text-size-14;
    width: 100%;
    height: 100%;
    color: white;
    padding: 1.5rem;
    &:focus {
      outline: none;
    }
  }
}
