@import '../../../../sass/stylesImports.scss';

.payment-method-option {
  display: flex;
  align-items: center;
  width: 85%;
  height: 8rem;
  gap: 0.5rem;

  &__data {
    display: flex;
    flex-direction: column;
  }
  &__user-name {
    text-transform: capitalize;
    font-weight: 400;
    font-size: $text-size-14;
  }
  &__image {
    width: 3rem;
    height: 3.1rem;
    margin-right: 2rem;
    &--plus {
      filter: invert(1);
      width: 2.2rem;
      height: 2.2rem;
    }
  }
  &__label {
    font-size: $heading-size-16;
    font-weight: 600;
    font-family: 'Acumin Pro Wide', sans-serif;
    line-height: 2.2rem;
  }
  &__description {
    font-size: $text-size-14;
  }
  .label-method {
    width: 100%;
    font-weight: 600;
    line-height: 2.2rem;
    font-size: $heading-size-16;
    font-family: 'Acumin Pro Wide', sans-serif;
    cursor: pointer;

    &__input {
      display: none;
    }

    &__div {
      width: 2.2rem;
      height: 2.2rem;
      padding: 0.4rem;
      border-radius: 50%;
      box-sizing: border-box;
      position: relative;
      background-color: #816d7c;
      flex-shrink: 0;
      margin-left: auto;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: 50%;
        @include green-gradient-light-bg;
      }
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        transform: scale(0);
        @include green-gradient-light-bg;
      }
    }
  }

  &.checked {
    .label-method__div::after {
      transform: scale(1);
    }
  }
}
