.section-three {
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 4rem;
    transform: rotate(-90deg);
  }
  &__side-container {
    border: 1px solid aqua;
    height: 100vh;
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
