.home {
  width: 100%;
  // height: calc(100% - 3rem);
  height: 100%;
  padding: 3rem 0;
  // overflow-y: scroll;
  padding-top: 8rem;

  // border: solid 1px orange;
  // overflow-x: visible;
  &__spacer {
    height: 3rem;
    width: 100%;
  }
}
