.card-container{
    width: 23.063rem;
    height: 10.43rem;
    border-radius: 1.563rem;
    background: var(--gradient-secondary);
    .title{

        background: var(--gradient-tertiary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}