@import "../../sass/stylesImports.scss";

.card-container {
  @include grey-gradient-bg;
  width: 100%;
  height: 13.5rem;
  border-radius: 1.563rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .title {
    @include green-gradient-light-text;
    font-size: 1.75rem;
  }
  .amount {
    font-family: "Rajdhani";
    font-size: 2.5rem;
  }
  .profit {
    font-family: "Rajdhani";
    font-weight: 400;
    font-size: 2rem;
  }
  .profit.up {
    @include green-gradient-light-text;
  }
  .profit.down {
    color: rgba(255, 0, 0, 0.641);
  }
  .profits-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
