/******** 
ACUMIN PRO WIDE
********/

/* Thin */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide Thin.otf") format("truetype");
  font-weight: 100;
}

/* Extra Light */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide ExtraLight.otf") format("truetype");
  font-weight: 200;
}

/* Light */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide Light.otf") format("truetype");
  font-weight: 300;
}

/* Regular */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide Book.otf") format("truetype");
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide Medium.otf") format("truetype");
  font-weight: 500;
}

/* Semi Bold */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide Semibold.otf") format("truetype");
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/AcuminProWide-Bold.otf") format("truetype");
  font-weight: 700;
}

/* Extra Bold */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide Black.otf") format("truetype");
  font-weight: 800;
}

/* Black */
@font-face {
  font-family: "Acumin Pro Wide";
  src: url("./AcuminProWide/Acumin Pro Wide UltraBlack.otf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Monument Extended";
  src: url("./MonumentExtended-Regular.otf") format("truetype");
  font-weight: 400;
}
