.barman-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;

    .ticket-container-bartender{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 7rem;
    }
}