.menu-navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  clip-path: circle(100% at 100% 0%);
  background: linear-gradient(
    135.15deg,
    rgba(0, 0, 0, 0.61) 3.25%,
    rgba(41, 2, 64, 0.8) 96.48%
  );
  backdrop-filter: blur(1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
    border-radius 0.4s ease-in-out;
  z-index: 8;

  &--open {
    // width: 100vw;
    // height: 100vh;
    // border-radius: 0;
  }
  &__items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    // position: fixed;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  &__item {
    list-style: none;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__link {
    font-size: 2.4rem;
    text-decoration: none;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }
}
