@import '../../../../sass/stylesImports.scss';
.order-stages {
  display: flex;
  // margin-top: 2rem;
  $color-inactive: #c7c6c6;
  $border-width: 3px;

  // .stage-container {
  //   flex: 0.25;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   position: relative;
  //   width: 7rem;
  //   &::after {
  //     content: '';
  //     height: 0.4rem;
  //     width: 3.1rem;
  //     position: absolute;
  //     background-color: #c7c6c6;
  //     right: -1.6rem;
  //     top: 2.2rem;
  //   }

  //   &.current::after {
  //     background-image: linear-gradient(90deg, #90fff7, $color-inactive);
  //   }

  //   &.completed::after {
  //     background-image: linear-gradient(to right, #90fff7, #aeffab);
  //   }
  // }

  // & > div:last-of-type::after {
  //   display: none;
  // }

  // .stage {
  //   width: 44px;
  //   height: 44px;
  //   border: $border-width solid;
  //   border-radius: 100px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   position: relative;

  //   img {
  //     width: 2.3rem;
  //     height: 2.3rem;
  //     object-fit: contain;
  //     object-position: center;
  //   }

  //   &.remaining {
  //     border-color: $color-inactive;
  //   }

  //   &.completed,
  //   &.current {
  //     border-color: transparent;
  //     background-clip: padding-box;

  //     &:first-of-type {
  //       background-color: #483643;
  //     }

  //     &::before {
  //       content: '';
  //       position: absolute;
  //       inset: 0;
  //       z-index: -1;
  //       margin: -$border-width;
  //       border-radius: inherit;
  //       @include green-gradient-light-bg;
  //     }
  //   }
  // }

  // & > div:last-of-type .stage::after {
  //   display: none;
  // }

  // .stage-title {
  //   color: $color-inactive;
  //   font-size: 8px;
  //   content: '';
  //   visibility: hidden;
  // }
}
