.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  font-family: Shadow;
  font-size: 1.6rem;

  // border: 1px solid aqua;
  width: 7rem;
  &__image {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .back-btn {
    width: 10rem;
    // top: auto;
    // bottom: 2rem;
    // left: auto;
    // right: 2rem;
  }
}
