@import '../../../../sass/stylesImports.scss';
.personal-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__title {
    margin-top: 1.5rem;
  }
  &__form {
    width: 100%;
    margin-top: 3rem;
  }
  &__buttons-container {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.3rem;
  }
}
