@import '../../../../../sass/stylesImports.scss';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .input-div {
    width: 100%;
  }

  .password-reset {
    font-size: 0.8rem;
    display: block;
    color: white;
    width: max-content;
    margin: 0 auto;
  }
}

.login-page .reset-password-btns {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: $text-size-12;

  .link {
    text-decoration: underline;
    color: $color-white;
  }
}
