@use "../../styles/stylesImports.scss" as styles;
.loader-xnodui {
  width: 100%;
  transform-origin: center;
  animation: rotate-loader-xnodui 2s linear infinite;
  --primary-color: styles.$color-primary;
}
.loader-xnodui--s {
  width: 20%;
}
.loader-xnodui--m {
  width: 50%;
}
.loader-xnodui--l {
  width: 100%;
}
.loader-xnodui-circle {
  fill: none;
  stroke-width: 5;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash-loader-xnodui-circle 1.5s ease-in-out infinite;
}
.loader-xnodui-circle--primary {
  stroke: var(--primary-color);
}
.loader-xnodui-circle--secondary {
  stroke: #fff;
}

@keyframes rotate-loader-xnodui {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash-loader-xnodui-circle {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
