@use "../../sass/stylesImports.scss" as styles;

.multimedia-viewer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #0000009c;
  z-index: 9;

  &--show {
    @include styles.flex(row, nowrap, center, center);
    animation: fadein 0.5s 1 forwards;
  }
  &--hidden {
    display: none;
    animation: fadeout 0.5s 1 forwards;
  }
  &__close-overlay {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  &__container {
    width: 90%;
    height: 90%;
    position: relative;

    &__close {
      position: absolute;
      top: 2rem;
      font-size: styles.$text-size-14;
      color: styles.$color-tertiary;
      border-radius: 50%;
      background: #000000dc;
      right: 2rem;
      width: 3rem;
      height: 3rem;
      z-index: 3;
    }
    &__swipper-container {
      width: 100%;
      height: 100%;
    }
    &___multimedia-container {
      width: 100%;
      height: 100%;
      overflow: hidden;

      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    color: styles.$color-tertiary;
    font-size: styles.$text-size-12;

    min-width: 3.5rem !important;
    min-height: 3.5rem !important;
    border-radius: 50%;
    background: #000000dc;
    @include styles.flex(column, nowrap, center, center);
  }
}
