.entree {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &__cob {
    width: 20rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__cheese {
    width: 20rem;
    position: absolute;
    bottom: 1rem;
    right: 0;
  }
}
