.entree {
  &__title {
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Fredericka the Great";
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  &__cob {
    width: 20rem;
  }
  &__cheese {
    width: 20rem;
  }
  &__image-container {
    width: 100%;
    &--right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 4rem;
    }
  }
}
