.entree {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__cob {
    width: 5rem;
  }
  &__cheese {
    width: 5rem;
  }
}
