@import './index.scss';

.App{
    aspect-ratio: 900/450;
    background-image: url('./assets/desktop1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}