@import './index.scss';

.App{
    aspect-ratio: 960/540;
    background-image: url('./assets/desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(1em);
    width: 100vw;
    height: 100vh;
}