@import '../../../../sass/stylesImports.scss';
.order-ready {
  .qr-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    animation: fadein 0.2s ease-in;
    p {
      margin-bottom: 1.5rem;
      font-size: $text-size-16;
      font-weight: 300;
      span {
        font-weight: bold;
        @include green-gradient-light-text;
      }
    }
  }
}
