.heading-primary {
  /*h1*/
  color: $WHITE-COLOR;
  font-family: "Acumin Pro Wide", sans-serif;

  &--main {
    font-size: $SIZE-24;
    font-weight: 700;
  }
  &--total-price {
    font-size: $SIZE-32;
    font-weight: 700;
  }
}

.heading-secondary {
  /*h2*/
  color: $WHITE-COLOR;
  font-family: "Acumin Pro Wide", sans-serif;

  &-main {
    /*Events categories title*/
    font-family: inherit;
    font-size: $SIZE-16;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks categories title*/
    font-size: $SIZE-20;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}
.heading-tertiary {
  /*h3*/
  color: $WHITE-COLOR;
  font-family: "Acumin Pro Wide", sans-serif;
  &-main {
    /*Drinks name*/
    font-family: inherit;
    font-size: $SIZE-14;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks price*/
    font-size: $heading-size-16;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}
