@use "../../../../sass/stylesImports" as styles;

.edit-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999999999999999999;
  background-color: #00000051;
  backdrop-filter: blur(5px);
  @include styles.flex-config(flex, center, center, row, nowrap);

  &__close-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
  }

  &__container {
    width: 60%;
    height: 70%;
    background-color: #616a8561;
    border-radius: 0.5rem;
    @include styles.flex-config(flex, center, center, column, nowrap);
    padding: 2rem;
    position: relative;
    animation: fadein-scale-1 1 0.4s forwards;
  }
  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 3rem;
    width: 3rem;
    font-size: 2.2rem;
  }
}
