@import '../../../sass/stylesImports.scss';
.organizer-activities {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__no-activities {
    margin-bottom: 5rem;
  }
  &__description {
    text-align: center;
  }
}
