@import '../../../sass/stylesImports.scss';

.text-area {
  &__wrapper {
    @include primary-gradient-dark-bg;
    width: 100%;
    height: 18rem;
    padding: 0.2rem;
    border-radius: $border-radius-primary;
  }
  &__text-area {
    border: none;
    resize: none;
    background: $searchBar-background;
    border-radius: $border-radius-primary;
    font-size: $text-size-14;
    width: 100%;
    height: 100%;
    color: white;
    padding: 1rem;
    &:focus {
      outline: none;
    }
  }
}
