@import '../../../sass/stylesImports.scss';
.foodCard {
  @include grey-gradient-bg;
  border-radius: 2rem;
  padding: 1.7rem;
  width: 100%;
  position: relative;
  min-height: 19rem;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &__info {
    min-height: 12rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.5s;
    .title {
      text-transform: capitalize;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .description {
      font-size: 1.1rem;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      &--expanded {
        max-height: 500px;
      }
    }
    .price {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  &__description-btn {
    text-align: start;
    font-size: 1.4rem;
    position: relative;
    @include green-gradient-light-text;
    &::before {
      content: '';
      position: absolute;
      bottom: 15%;
      width: 100%;
      height: 0.1rem;
      @include green-gradient-light-bg;
    }
  }
  &__img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 100%;
    }
  }
  &__toggle-wrapper {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
  }
  .addTocart {
    font-family: 'Acumin Pro Wide', sans-serif;
    position: absolute;
    color: $color-black;
    background-color: $color-white;
    border-radius: 2rem;

    font-weight: 500;
    font-size: $text-size-16;
    span {
      display: flex;
      justify-content: space-evenly;
      width: 70%;
      align-items: center;
      img {
        width: 17.5px;
      }
    }
    width: 100%;
    height: 3.5rem;
    bottom: -0.5rem;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
