@import '../../../sass/stylesImports.scss';
.foodCard {
  @include grey-gradient-bg;
  border-radius: 2rem;
  padding: 1.7rem;
  padding-bottom: 2rem;
  width: 100%;
  position: relative;
  min-height: 19rem;
  display: flex;
  align-items: center;
  transition: all 0.5s;

  &__info {
    min-height: 12rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 0.5s;
    .title {
      text-transform: capitalize;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .description {
      font-size: 1.1rem;
      transition: all 0.6s;

      &--hidden {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 7rem;
        text-overflow: ellipsis;
      }
      &--expanded {
        max-height: 500px;
        display: block;
        -webkit-line-clamp: initial;
      }
    }
    .price {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  &__description-btn {
    text-align: start;
    font-size: 1.4rem;
    position: relative;
    @include green-gradient-light-text;
    &::before {
      content: '';
      position: absolute;
      bottom: 15%;
      width: 100%;
      height: 0.1rem;
      @include green-gradient-light-bg;
    }
  }
  &__img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 100%;
    }
  }
  &__toggle-wrapper {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
  }
  &__edit {
    position: absolute;
    top: -2%;
    right: -2%;
    z-index: 1;
    height: 3.5rem;
    width: 3.5rem;
    &--icon {
      width: 100%;
    }
  }
}
