@import '../../../../sass/stylesImports.scss';

.point_card {
  @include grey-gradient-bg;
  width: 100%;
  min-height: 49rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.7rem 5rem;
  &__user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
  }
  &__profile-picture-bg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    @include input-dark-bg;
  }
  &__profile-picture {
    @include grey-gradient-bg;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  &__image-wrapper {
    @include primary-gradient-light-bg;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 2rem;
  }
  // &__image {
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 50%;
  //   object-fit: cover;
  //   padding: 0.2rem;
  // }
  &__icon {
    width: 4rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__action {
    margin-top: 2.4rem;
    text-align: center;
  }
  &__club {
    @include green-gradient-light-text--animated;
  }
  &__adress {
    margin-top: 0.7rem;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
  }
}
