@import '../../../../sass/stylesImports.scss';

.point_card {
  @include grey-gradient-bg;
  width: 100%;
  height: 49rem;
  border-radius: 2rem;
  &__image-wrapper {
    @include primary-gradient-light-bg;
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    overflow: hidden;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
  }
}
