// MEDIA QUERY MANAGER

/* 
[0 - 600px]:       Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet landscape
1200 - 1800:   Average Desktop
1800px +:        Big desktop
*/
// 1em = 16px
@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      //600-900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    //900-1200px
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    //1200-1800px
    @media only screen and (min-width: 75em) {
      @content;
    }
  }
}
//DISPLAY FLEX
@mixin flex-config($dis, $direction, $corte, $just, $align) {
  display: $dis;
  flex-flow: $direction $corte;
  justify-content: $just;
  align-items: $align;
}

// CENTERED ABSOLUTE POSITION
/*Mainly for popups*/
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//GRADIENTS
/*APP BACKGROUND*/
@mixin app-gradient-dark-bg {
  /*Background gradient used on the entire app */
  background-image: linear-gradient(
    to bottom,
    $color-background-primary,
    $color-background-secondary
  );
}
@mixin app-gradient-dark-txt {
  /*Background gradient for text clips*/
  background-image: linear-gradient(
    to bottom,
    $color-background-primary,
    $color-background-secondary
  );
  -webkit-background-clip: text;
  color: transparent;
}

/*PINK GRADIENTS*/
@mixin primary-gradient-dark-bg {
  /*Dark primary gradient for components backgrounds*/
  background-image: linear-gradient(
    to right,
    $color-secondary-light,
    $color-secondary-dark
  );
}
@mixin primary-gradient-dark-txt {
  /*Dark primary gradient for text clips*/
  background-image: linear-gradient(
    to right,
    $color-secondary-light,
    $color-secondary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
}

/*PASTEL SECTION PRIMARY*/
@mixin primary-gradient-light-bg {
  /*Pastel primary gradient for components backgrounds*/
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
}
@mixin primary-gradient-light-txt {
  /*Pastel primary gradient for text clips*/
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  -webkit-background-clip: text;
  color: transparent;
}

/*GREY SECTION PRIMARY*/
@mixin grey-gradient-bg {
  /*Grey primary gradient for components backgrounds*/
  background: linear-gradient(
    243.94deg,
    rgba($color-white, 0.6) -41.74%,
    rgba($color-white, 0) 142.08%
  );
}

//GREEN GRADIENTS

/*GREEN dark*/
@mixin green-gradient-dark-bg {
  /*Green DARK for checkout tab bar*/
  background-image: linear-gradient(
    to right,
    $color-green-dark-1,
    $color-green-dark-2
  );
}

/*GREEN pastel*/
@mixin green-gradient-light-bg {
  /*Green PASTEL for order status stage*/
  background-image: linear-gradient(
    to right,
    $color-green-light-1,
    $color-green-light-2
  );
}
@mixin green-gradient-light-text {
  /*Green LIGHT for order stages text*/
  background-image: linear-gradient(
    to right,
    $color-green-light-1,
    $color-green-light-2
  );
  -webkit-background-clip: text;
  color: transparent;
}
@mixin primary-gradient-line {
  @include primary-gradient-light-bg;
  border: none;
  height: 1px;
  width: 100%;
}

@mixin input-dark-bg {
  /*Background gradient used on the entire app */
  background-image: linear-gradient(
    to bottom,
    $input-background-primary,
    $input-background-secondary
  );
}
