//PARTY USER LAYOUTS
.layout-primary {
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  z-index: 1;
  position: relative;
  border: 1px solid orange;
  animation: fadein 0.2s ease-in;
}

//Div lines to separate between cards and sections
.grey-gradient-line {
  height: 1.5px;
  width: 90%;
  margin: auto;
  @include grey-gradient-bg;
}
.white-line {
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: $color-white;
  opacity: 45%;
}
.pink-gradient-line {
  &-1 {
    height: 1px;
    width: 90%;
    margin: auto;
    @include primary-gradient-dark-bg;
  }
  &-2 {
    height: 2px;
    width: 90%;
    margin: auto;
    @include primary-gradient-dark-bg;
  }
}
