@import '../../../sass/main.scss';
.not-found {
  &__title {
    font-family: 'Rajdhani';
    font-weight: 700;
    font-size: $heading-size-20;
    text-transform: none;
  }
  &__text {
    font-family: 'Rajdhani';
    font-weight: 300;
    font-size: $heading-size-20;
  }
}
