@use "../../sass/stylesImports.scss" as styles;
.home {
  &__form {
    position: fixed;
    bottom: 0;
    width: 100%;
    @include styles.flex(row, nowrap, space-between, center);
    padding: 2rem;
    gap: 1.5rem;
    &__input {
      resize: none;
      border: none;
      width: 100%;
      height: 5rem;
      background-color: styles.$color-background-light;
      border-radius: 1.6rem;
      font-size: styles.$text-size-14;
      padding: 0 1.5rem;
      caret-color: styles.$color-primary;
      &::placeholder {
        color: #868686;
      }
      &:focus {
        outline: none;
      }
    }
    .btn {
      width: 6rem;
      height: 5rem;
      padding: 1rem;
      @include styles.flex(row, nowrap, center, center);
    }
  }
}
