@use "../../sass/stylesImports.scss" as styles;
.home {
  &__form {
    position: fixed;
    bottom: 0;
    width: 100%;
    @include styles.flex(row, nowrap, space-between, center);
    padding: 2rem;
    &__input {
      width: 100%;
    }
    .btn {
      width: 4.5rem;
      height: 4.5rem;
      padding: 1rem;
      @include styles.flex(row, nowrap, center, center);
    }
  }
}
