.header-oranizer-container{
    h1{
        width: 19rem;
        font-family: 'Acumin Pro Wide';
        text-transform: none;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .notifications{
        width: 19rem;
        display: flex;
        justify-content: flex-end;
        margin-top: 2.5rem;
        img{
            cursor: pointer;
        }
    }
    p{
        font-family: 'Acumin Pro Wide';
        text-transform: capitalize;
        font-weight: 400;
        font-size: 16px;
    }
}