.header-oranizer-container{
    width: 85%;
    h1{
        width: 100%;
        font-family: 'Acumin Pro Wide';
        text-transform: none;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .notifications{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 2.5rem;
        height: 1.78rem;
        img{
            cursor: pointer;
        }
    }
    p{
        font-family: 'Acumin Pro Wide';
        text-transform: capitalize;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 1rem;
    }
}