.header-oranizer-container{
    h1{
        width: 19rem;
        font-family: 'Acumin Pro Wide';
        text-transform: none;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .notifications{
        width: 19rem;
        display: flex;
        align-items: flex-end;
    }
}