@use "../../styles/stylesImports.scss" as styles;

.primary-switch {
  width: 100%;
  // background-color: styles.$color-primary;
  background-color: styles.$color-secondary;
  padding: 0.2rem;
  border-radius: 0.5rem;
  height: 2rem;

  &__flex-container {
    display: flex;
    width: 100%;
    position: relative;
    // background-color: styles.$color-primary;
    background-color: styles.$color-secondary;

    border-radius: 0.5rem;
    height: 100%;
    align-items: center;
  }

  &__button {
    background-color: transparent;
    padding: 2rem 1rem;
    flex: 0.5;
    position: relative;
    z-index: 2;
    color: #000000;
    opacity: 0.4;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &.active {
      opacity: 1;
      color: #ffffff;
    }
  }

  &__selector {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0.4rem;
    z-index: 1;
    transition: transform 0.5s;
    background-color: styles.$color-primary;

    // background-color: styles.$color-secondary;
    &--33w {
      width: 33%;
    }
  }
}
