@use "../../sass/stylesImports" as styles;

.home {
  width: 100vw;
  height: 100vh;
  @include styles.flex-config(flex, center, center, row, nowrap);

  &__container {
    width: 70%;
    @include styles.flex-config(flex, center, center, row, wrap);
    gap: 4rem;
  }
}
