.next-dates-carousel {
  margin: 0 auto;
  width: 100%;

  opacity: 0;
  animation: fadein 1s 1 forwards;

  .swiper-slide {
    width: auto;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  &__next {
    font-family: "Shadow";
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    margin-right: -1rem;
  }
  &__dates {
    font-family: "Shadow";
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    margin-left: -1rem;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 99;
    // border: solid 1px aqua;
  }
  &__mobile {
    border: solid 1px aqua;
    display: flex;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 600px) {
}
