.video-popup {
  &--overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000f6;
    top: 0;
    left: 0;
    z-index: 9;
    animation: fadein 1s 1 forwards;
  }
  &--overlay-close {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  &__container {
    position: relative;
    width: 80%;
    animation: fadein 0.5s 1 1.5s forwards;
    border: solid 1px aqua;
  }
}
