.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  font-family: Shadow;
  font-size: 1.6rem;
  opacity: 0;
  transform: translateY(-50%);
  animation: translateY-0 1s 1 forwards;
  // border: 1px solid aqua;
  width: 7rem;
  filter: drop-shadow(8px 8px 11px #000000);

  &__image {
    width: 100%;
  }
  &:hover {
  }
}
@media (max-width: 600px) {
  .back-btn {
    width: 10rem;
  }
}
