.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;
  font-family: Shadow;
  font-size: 1.6rem;
  animation: fadein 1s 1 1s forwards;
}
