.bzrp-tour-item {
  height: 4.5rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &__underline {
    width: 50%;
    height: 1px;
    background-color: white;
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  &__btn {
    width: 8rem;
  }
}
