@use "../../../../sass/stylesImports" as styles;

.bzrp-tour-item {
  height: 6rem;
  width: 55%;
  @include styles.flex-config(flex, space-between, center, row, nowrap);

  &__underline {
    width: 55%;
    height: 1px;
    background-color: white;
  }
  &__location {
    @include styles.flex-config(flex, center, center, row, nowrap);
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
  &__button-container {
    @include styles.flex-config(flex, center, center, row, nowrap);
    gap: 1rem;
  }
  &__edit-btn {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
  &__btn {
    width: 8rem;
    font-size: 1.3rem;
    margin-top: 0;
    &--sold-out {
      cursor: default;
      color: #c10000;
      border-color: #c10000;
      &:hover {
        transform: translateY(0);
        background-color: transparent;
        color: #c10000;
      }
    }
  }
}
@media (max-width: 820px) {
  .bzrp-tour-item {
    width: 70%;
    &__underline {
      width: 70%;
    }
  }
}

@media (max-width: 600px) {
  .bzrp-tour-item {
    width: 85%;
    &__underline {
      width: 85%;
    }
  }
}
