.bzrp-tour-item {
  height: 4.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__underline {
    width: 100%;
    height: 1px;
    background-color: white;
  }
  &__location {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
  }
}
