@import "../../sass/stylesImports.scss";

.drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;

  &__container {
    border: solid aqua 1px;
    width: 100%;
    // height: 90%;
    display: flex;
    justify-content: space-around;
    gap: 7rem;
    &__left {
      border: solid aqua 1px;
      width: 30%;
      .select-wrapper__label-container label {
        font-weight: 600;
        font-size: 1.5rem;
      }
      &__list {
        @include grey-gradient-bg;

        min-height: 5rem;
        max-height: 90%;
        border-radius: 1rem;
        overflow-y: scroll;
      }
    }
    &__right {
      border: solid aqua 1px;
      width: 45rem;
      height: 100%;
      &__title {
        font-family: "Acumin Pro Wide";
        text-transform: none;
        font-weight: 600;
        font-size: 1.5rem;
      }
      &__total-drinks-wrapper {
        margin-top: 0.8rem;
        display: flex;
        // border: solid aqua 1px;
        align-items: center;
        justify-content: space-between;
      }
      &__total-drinks {
        @include grey-gradient-bg;
        border-radius: 2rem;
        width: 13rem;
        height: 11rem;
      }
      &__add-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 37px;
        gap: 37px;
      }
    }
  }
}
