body {
  font-family: var(--font-poppins);
  background-color: #00102f;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
}
:root {
  font-size: 1em;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
