.new-bottle-overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(11px);    
    z-index: 6;
    .new-bottle-popup{
        width: 85%;
        height: 23rem;
        border-radius: 1.5rem;
        background: var(--gradient-secondary);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1.5rem;
    }
    .title{
        margin-bottom: 1rem;
    }
    input{
        background-color: #80737c;
    }
    .save-popup{
        background: var(--gradient-primary);
        color: white;
        width: 60%;
        height: 2.5rem;
        border-radius: 4rem;
    }
    .cancel-popup{
        color: white;
        text-decoration: underline;
    }
}