@import '../../../sass/stylesImports.scss';

.my-account {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  &__profile-picture-wrapper {
    @include primary-gradient-dark-bg;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 3px;
  }
  &__profile-picture-bg {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    @include app-gradient-dark-bg;
  }
  &__profile-picture {
    @include grey-gradient-bg;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 4rem;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__user-name {
    text-transform: capitalize;
  }
}
