body {
  color: $color-white;
}

.heading-primary {
  /*h1*/
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Fredericka the Great";
  font-size: 10rem;
}

.heading-secondary {
  /*h2*/
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Fredericka the Great";
  font-size: 4rem;
}

.heading-tertiary {
  /*h3*/
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Fredericka the Great";
  font-size: 2.5rem;
}
