body {
  color: $color-white;
}

.heading-primary {
  /*h1*/
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Fredericka the Great";
  font-size: 10rem;
}

.heading-secondary {
  /*h2*/
  color: $color-white;
  font-family: "Acumin Pro Wide", sans-serif;

  &-main {
    /*Events categories title*/
    font-family: inherit;
    font-size: $heading-size-16;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks categories title*/
    font-size: $heading-size-20;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}
.heading-tertiary {
  /*h3*/
  color: $color-white;
  font-family: "Acumin Pro Wide", sans-serif;
  &-main {
    /*Drinks name*/
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks price*/
    font-size: $heading-size-16;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}
