@import "../../global/css/mixins.scss";

.home-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flexible(flex, row, nowrap, space-around, center);
  background-size: cover;
  background: url("../../assets/home-2.webp") no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  @include responsive(1000px) {
    font-size: 3.5rem;
  }
  @include responsive(870px) {
    background: none;
    // background-position: 50% 100%;
    @include flexible(flex, column, nowrap, space-around, center);
  }
  @include responsive(500px) {
    // height: 150vh;
  }
  &__btn-wrapper {
    width: 16.5rem;
  }
  &__line {
    background: none;
    position: absolute;

    @include responsive(870px) {
      background: var(--gradient-primary);
      transform: none;
      height: 0.8rem;
      width: 150%;
      right: auto;
      bottom: 0%;
    }
  }
  &__footer {
    position: absolute;
    font-family: "Monument Extended";
    bottom: 1.2rem;
    font-size: 0.8rem;
  }

  .home-left {
    // border: solid 1px aqua;
    position: relative;
    width: 60%;
    height: 100%;
    @include flexible(flex, column, nowrap, center, center);
    position: relative;
    background: url("../../assets/home-1.webp");
    background-size: cover;
    background-position: 100% 50%;
    z-index: 2;
    overflow: visible;
    // @include responsive(1240px) {
    //   background-position: 80% 100%;
    // }
    @include responsive(870px) {
      height: 55%;
      width: 100%;
      background: url("../../assets/home-mobile-1.webp");
      background-size: cover;
      background-position: 0% 40%;
      @include flexible(flex, column, nowrap, center, center);
    }
  }

  .home-right {
    height: 100%;
    width: 50%;

    @include flexible(flex, column, nowrap, center, center);
    @include responsive(870px) {
      background: url("../../assets/home-mobile-2.webp") no-repeat;
      background-size: cover;
      width: 100%;
      height: 45%;
    }
    @include responsive(500px) {
      width: 100%;
    }
  }

  &__title {
    font-family: "Monument Extended";
    font-style: normal;
    font-weight: 700;
    font-size: 4.25rem;
    text-align: center;
    z-index: 1;
    margin-bottom: 1.5rem;
    @include responsive(1240px) {
      font-size: 5rem;
    }
    @include responsive(1040px) {
      font-size: 3.5rem;
    }
    @include responsive(992px) {
      margin-top: 4rem;
      margin-bottom: 0.5rem;
    }
    @include responsive(420px) {
      font-size: 2.5rem;
    }
    @include responsive(268px) {
      font-size: 2rem;
    }
  }
  &__description {
    height: 3rem;
    text-align: center;
    font-family: "Acumin Pro Wide";
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    @include responsive(1240px) {
      font-size: 1.3rem;
    }
    @include responsive(1040px) {
      font-size: 1.2rem;
    }
    @include responsive(992px) {
      font-size: 1rem;
    }
    @include responsive(286px) {
      font-size: 0.7rem;
      text-align: center;
      width: 100%;
      margin-bottom: 0;
    }
  }

  .icons-mobile {
    display: none;
    @include responsive(870px) {
      @include flexible(flex, column, nowrap, space-between, center);
      //   position: absolute;
      z-index: 1;
      height: 5.138rem;
      top: 3.6rem;
      font-size: 2.3rem;
      text-align: center;
      opacity: 1;
    }
    .wedrink_logo {
      @include responsive(500px) {
        width: 9rem;
      }
    }
    .navigation-mobile {
      @include flexible(flex, row, nowrap, space-between, center);
      width: 100%;
    }
  }
  .glow {
    position: absolute;
    width: 9.5rem;
    height: 9.5rem;
    left: -6.61px;
    bottom: 0;
    background: rgba(242, 109, 249, 0.25);
    box-shadow: 0px 0px 250px #f53dff;
    filter: blur(43.5px);
    animation: breathing 5s infinite;
  }
}
