.tabs-container-xnodui {
  font-family: var(--tabs-font-xnodui);
  display: inline-block;
}
.tabs-container-xnodui--s {
  font-size: 7px;
}
.tabs-container-xnodui--m {
  font-size: 10px;
}
.tabs-container-xnodui--l {
  font-size: 14px;
}
.tabs-container-xnodui--full-width {
  width: 100%;
}
.tabs-xnodui {
  height: var(--tabs-height-xnodui);
  display: grid;
  grid-auto-flow: column;
  background: var(--tabs-background-color-xnodui);
  border-radius: var(--tabs-radius-xnodui);
  grid-auto-columns: 1fr;
  position: relative;
  border: var(--tabs-border-xnodui) solid var(--tabs-background-color-xnodui);
}

.tabs-xnodui {
  --ease: linear(
    0,
    0.1641 3.52%,
    0.311 7.18%,
    0.4413 10.99%,
    0.5553 14.96%,
    0.6539 19.12%,
    0.738 23.5%,
    0.8086 28.15%,
    0.8662 33.12%,
    0.9078 37.92%,
    0.9405 43.12%,
    0.965 48.84%,
    0.9821 55.28%,
    0.992 61.97%,
    0.9976 70.09%,
    1
  );
}

.tabs-input-xnodui {
  display: none;
}

.tabs-xnodui .tabs-label-xnodui {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 clamp(1em, 1em + 1em, 2em);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border-radius: calc(var(--tabs-radius-xnodui) - var(--tabs-border-xnodui));
  place-items: center;
  color: var(--tabs-color-text-one-xnodui);
  opacity: 0.7;
  transition: filter 0.3s, color 0.3s, opacity 0.3s;
  font-size: 1.4em;
}

.input:not(:checked) + .tabs-label-xnodui:hover {
  opacity: 1;
  background: var(--tabs-background-color-xnodui);
  filter: brightness(1.2);
}
.tabs-xnodui :checked + .tabs-label-xnodui {
  opacity: 1;
  color: var(--tabs-color-text-two-xnodui);
  z-index: 2;
}

.tabs-xnodui::after {
  pointer-events: none;
  content: "";
  width: calc(100% / var(--count));
  height: 100%;
  background: var(--tabs-background-color-checked-xnodui);
  position: absolute;
  border-radius: calc(var(--tabs-radius-xnodui) - var(--tabs-border-xnodui));

  translate: calc(var(--active, 0) * 100%) 0;
  transition: translate, outline-color;
  transition-duration: var(--tabs-speed-animation-xnodui);
  transition-timing-function: var(--ease, ease);
  outline: 2px solid transparent;
}

.tabs-xnodui:has(:focus-visible)::after {
  outline-color: transparent;
}
