@import '../../../sass/stylesImports.scss';
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  top: 0%;
  left: 0%;
  justify-content: center;
  backdrop-filter: blur(1rem);
  background: rgba(14, 13, 13, 0.7);
  align-items: center;
  z-index: 999999999;
  .ready-popup {
    position: relative;
    width: 90%;
    height: 22rem;
    border-radius: 1.25rem;
    @include grey-gradient-bg;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #c4c4c4;
    transform: scale(0.3);
    animation: popup 0.2s 1 forwards;
    .ready-popup-title {
      position: absolute;
      top: 40%;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      h2 {
        font-family: 'Rajdhani';
        font-weight: 700;
        font-size: $heading-size-20;
        text-transform: uppercase;
        line-height: 26px;
        width: 85%;
      }
    }
    .icon {
      position: absolute;
      top: 13%;
    }
    .buttons-popup {
      position: absolute;
      width: 100%;
      top: 73%;

      .confirm-button {
        width: 50%;
        height: 6rem;
        border-top: 1px solid #a7a7a7;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
      }
      .cancel {
        border-right: 0.5px solid #a7a7a7;
        border-left: 1px solid #a7a7a7;
        border-bottom-left-radius: 1.25rem;
        color: white;
      }
      .delete {
        border-left: 0.5px solid #a7a7a7;
        border-right: 1px solid #a7a7a7;
        border-bottom-right-radius: 1.25rem;
        color: white;
      }
    }
  }
  @keyframes popup {
    to {
      transform: scale(1);
    }
  }
}
