.btn-xnodui {
  --primary-color: linear-gradient(to left, #6400ff 0%, #1f0546 90%);
  --btn-radius: 9rem;
  --btn-font-family: "Roboto", sans-serif;
  display: inline-flex;
  min-width: max-content;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border: none;
  border-radius: var(--btn-radius);
  cursor: pointer;
  transition: filter 0.2s, transform 0.3s;
  font-family: var(--btn-font-family);
  font-size: 1.6rem;
  font-weight: 700;
}
.btn-xnodui--primary {
  color: white;
  background: var(--primary-color);
}
.btn-xnodui--secondary {
  color: var(--primary-color);
  background: transparent;
  border: solid 1px var(--primary-color);
}

.btn-xnodui--s {
  font-size: 1.2rem;
  padding: 0.7rem 1.5rem;
}
.btn-xnodui--m {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}
.btn-xnodui--l {
  font-size: 2rem;
  padding: 1.2rem 2rem;
}

.btn-xnodui:hover {
  filter: brightness(1.1);
}
.btn-xnodui:active {
  filter: brightness(0.9);
  transform: scale(0.98);
}
.btn-xnodui:disabled {
  filter: brightness(0.8);
  transform: none;
}
.btn-xnodui--full-width {
  width: 100%;
}
