.btn-xnodui {
  --primary-color: linear-gradient(to left, #6400ff 0%, #1f0546 90%);
  --secondary-color: #fff;
  --btn-radius: 9rem;
  --btn-font-family: "Roboto", sans-serif;
  display: inline-flex;
  min-width: max-content;
  align-items: center;
  justify-content: center;
  padding: 1rem 4rem;
  border: none;
  border-radius: var(--btn-radius);
  cursor: pointer;
  transition: filter 0.2s, transform 0.3s;
  font-family: var(--btn-font-family);
  font-size: 1.6rem;
  font-weight: 500;
}
.btn-xnodui--primary {
  color: white;
  background: var(--primary-color);
  box-shadow: 0px 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.btn-xnodui--secondary {
  color: black;
  background: var(--secondary-color);
}
.btn-xnodui--xs {
  font-size: 1rem;
  padding: 0;
}
.btn-xnodui--s {
  font-size: 1.2rem;
  padding: 0.7rem 2.5rem;
}
.btn-xnodui--m {
  font-size: 1.6rem;
  padding: 0.5rem 4rem;
  height: 4rem;
}
.btn-xnodui--l {
  font-size: 2rem;
  padding: 1.2rem 2rem;
}

.btn-xnodui:hover {
  filter: brightness(1.1);
}
.btn-xnodui:active {
  filter: brightness(0.9);
  transform: scale(0.98);
}
.btn-xnodui:disabled {
  filter: brightness(0.9);
  opacity: 0.5;
  transform: none;
}
.btn-xnodui--full-width {
  width: 100%;
}
.btn-xnodui-loader-wrapper {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
