.audioplayerpopup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(14, 13, 13, 0.7);
  //   backdrop-filter: blur(1rem);
  top: 0;
  left: 0;
  z-index: 9;
  &__popup {
    position: relative;
    // border: solid 1px aqua;
    &__cancel {
      position: absolute;
      top: 0.2rem;
      right: 0.2rem;
      color: black;
      z-index: 2;
      border-top: solid 2px rgb(235, 235, 235);
      border-left: solid 2px rgb(235, 235, 235);
      border-bottom: solid 2px rgb(94, 94, 94);
      border-right: solid 2px rgb(94, 94, 94);
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2rem;
      &:active {
        background: rgb(143, 143, 143);
        border-top: solid 2px rgb(94, 94, 94);
        border-left: solid 2px rgb(94, 94, 94);
        border-bottom: solid 2px rgb(235, 235, 235);
        border-right: solid 2px rgb(235, 235, 235);
      }
    }
  }
}
