.header{
    .gradient-text {
        font-family: 'Acumin Pro Wide';
        font-style: normal;
        font-weight: 400;
        text-transform: none;
        font-size: 1rem;
        
        margin-top: 1rem;

        background: linear-gradient(90deg, #5ED85A 21.75%, #2DB4AC 50.04%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    .party{
        display: flex;
        align-items: baseline;
        gap: .5rem;
        margin-top: .4rem;
        h2{
            font-family: 'Acumin Pro Wide';
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            text-transform: none;
        }
    }
}