.drinks {
  &__beer {
    width: 15rem;
    margin-bottom: 2rem;
  }
  &__drink {
    width: 20rem;
    margin-top: 2rem;
    transform: scaleX(-1);
    margin-right: -6rem;
  }
  &__lemon {
    width: 15rem;
    height: 17rem;
    margin-top: 2rem;
  }
}
