@import '../../../sass/stylesImports.scss';
.cashier-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  &__points-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1.3rem;
  }
  &__points {
    width: 50%;
    height: 14rem;
    @include grey-gradient-bg;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.8rem;
    &--text {
      text-align: center;
      font-family: 'Rajdhani';
      font-weight: 700;
      font-size: 1.8rem;
      @include green-gradient-light-text;
    }
  }
  &__total-points {
    width: 100%;
    height: 9rem;
    @include grey-gradient-bg;
    border-radius: 2rem;
    margin-top: 1.3rem;
  }
}
