@import '../../../sass/stylesImports.scss';
.cashier-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  .ticket-cashier-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.open-qr-scanner {
  position: fixed;
  width: 8rem;
  height: 8rem;
  @include primary-gradient-dark-bg;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  bottom: 2.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.qr-space {
  position: relative;
  height: 15rem;
}
.qr-image {
  @include absolute-center;
  opacity: 0.4;
  width: 15rem;
}
