.layout {
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 8rem;
  position: relative;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 9px;
    background-color: #ffffff59;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #ffffff4f;
  }

  &::-webkit-scrollbar-track:active {
    background-color: #ffffff00;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #6101f254;
    border: 2px solid #ffffff00;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #6001f2;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: #6001f2;
  }

  // overflow-y: scroll;
  // border: solid 1px aqua;
  &::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000030;
    backdrop-filter: blur(5px);
    z-index: -1;
  }
  &::after {
    content: url("/assets/background/BOT+.webp");
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
  }
}
