.anchor-primary {
  cursor: pointer;
  @include primary-gradient-txt;
  display: inline-block;
  transition: all 0.5s;
  &:hover {
    text-shadow: 0px 0px 10px
      linear-gradient(to right, #00fdff, #00d0ff, #00d0ff);
  }
}
