@import '../../global/css/mixins.scss';
.navbar-container{
    height: 5.42rem;
    width: 95%;
    background: #000000CC;
    position: fixed;
    z-index: 5;
    top: 1.5rem;
    border-radius: 1.25rem;
    padding: 0rem 1.5rem 0rem 1.5rem;
    @include flexible(flex, row, nowrap, space-between, center);
    @include responsive(992px){
        top: auto;
        bottom: 0%;
        background: rgba(149, 34, 178, 0.61);
        backdrop-filter: blur(55px);
        width: 100%;
        border-radius: 0;
    } 
    .navigation{
        display: flex;
        align-items: center;
        gap: 2rem;
        a{
            font-family: 'Rajdhani';
            font-weight: 600;
            font-size: 1.12rem;
            text-decoration: none;
            color: white;
            &:hover{
                background: var(--gradient-primary);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        a.selected{
            background: var(--gradient-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    .btn {
        width: 11rem;
        height: 2.06rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navigation.mobile{
        display: none;
        @include responsive(992px){
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
    @include responsive(992px){
        .navigation.desktop,
        .btn,
        .logo-nav{
            display: none;
        }
    }
    
}