@import "../../global/css/mixins.scss";
@import "../../global/fonts/fonts.scss";

.navbar-container {
  height: 5.42rem;
  width: 95%;
  background: #000000cc;
  position: fixed;
  z-index: 9;
  top: 1.5rem;
  border-radius: 1.25rem;
  padding: 0rem 1.5rem 0rem 1.5rem;
  @include flexible(flex, row, nowrap, space-between, center);
  backdrop-filter: blur(15px);
  @include responsive(992px) {
    top: auto;
    bottom: 0%;
    background: rgba(149, 34, 178, 0.554);
    backdrop-filter: blur(55px);
    width: 100%;
    height: 6rem;
    border-radius: 0;
  }
  .navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include responsive(992px) {
      width: 100%;
      justify-content: space-between;
      gap: 0.5rem;
    }
    @include responsive(390px) {
    }

    .soporte-discoteca {
      display: none;
    }

    a {
      font-family: "Rajdhani", serif;
      font-weight: 600;
      font-size: 1.12rem;
      text-decoration: none;
      color: white;
      transition: all 0.5s;
      &:hover {
        color: rgba(255, 255, 255, 0.589);
      }
    }
    a.selected {
      background: var(--gradient-primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  span.selected {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .btn {
    width: 11rem;
    height: 2.06rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include responsive(992px) {
    .btn,
    .logo-nav {
      display: none;
    }
  }
  .icon-container {
    @include flexible(flex, column, nowrap, space-between, center);
    height: 3rem;
    span {
      font-family: "Rajdhani", serif;
      font-weight: 600;
      font-size: 0.81rem;
    }
  }
  .icon-nav.home::before {
    display: inline-block;
    content: url("../../assets/navbar/icon_home.svg");
  }
  .icon-nav.home.selected::before {
    display: inline-block;
    content: url("../../assets/navbar/selected-icons/selected_home.svg");
  }
  .icon-nav.wedrink::before {
    display: inline-block;
    content: url("../../assets/navbar/icon_phone.svg");
  }
  .icon-nav.wedrink.selected::before {
    display: inline-block;
    content: url("../../assets/navbar/selected-icons/selected_phone.svg");
  }
  .icon-nav.beneficios::before {
    display: inline-block;
    content: url("../../assets/navbar/icon_like.svg");
  }
  .icon-nav.beneficios.selected::before {
    display: inline-block;
    content: url("../../assets/navbar/selected-icons/selected_like.svg");
  }

  .icon-nav.party::before {
    display: inline-block;
    content: url("../../assets/navbar/icon_party.svg");
  }
  .icon-nav.party.selected::before {
    display: inline-block;
    content: url("../../assets/navbar/selected-icons/selected_party.svg");
  }
  .icon-nav.download::before {
    display: inline-block;
    content: url("../../assets/navbar/icon_download.svg");
  }
  .icon-nav.download.selected::before {
    display: inline-block;
    content: url("../../assets/navbar/selected-icons/selected_download.svg");
  }
}
