.signup-form {
  flex: 1;
  @include styles.flex(column, nowrap, space-between, center);
  width: 100%;
  margin-top: 3rem;
  padding-bottom: 2.3rem;
  &__input-area-wrapper {
    @include styles.flex(column, nowrap, start, center);
    gap: 1.5rem;
    width: 100%;
  }
}
