.input-div {
  margin-bottom: 20px;

  label,
  input {
    display: block;
  }

  .input-wrapper {
    width: 10rem;
    padding: 2px;
    border-radius: 100px;
    background-image: var(--gradient-primary);
  }

  &.error {
    .input-wrapper {
      background: red;
    }
  }

  input {
    width: 100%;
    border-radius: 100px;
    border: none;
    padding: 10px 22px;
    font-size: 1rem;
    background-color: #54364d;
    color: white;
  }

  input:focus {
    outline: none;
  }

  label {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }

  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
  }
}
