.ticket-container{
    width: 85%;
    min-height: 24.9rem;
    background: var(--gradient-secondary);
    border-radius: 0.7rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .ticket-header{
        display: flex;
        align-items: center;
        width: 90%;
        justify-content: space-between;
        margin-top: 3.5rem;
       
        .profile{
            position: absolute;
            top: -6%;
            left: 8%;
            .profile-image{
                width: 4.18rem;
                height: 4.18rem;
                overflow: hidden;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        h2{
            font-family: 'Lato', sans-serif;
            font-size: 1.25rem;
        }
        .profile-name{
            width: 9rem;
            font-weight: 800;
        }
        .ticket-id{
            font-weight: 400;
        }
    }
    .ticket-order-container{
        width: 80%;
        margin-top: 10%;
        .order-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 3.5rem;
            
            .image-amount{
                display: flex;
                align-items: center;
            }
            img{
                width: 1.75rem;
            }
            .amount{
                display: flex;
                align-items: baseline;
                p{
                    font-size: 1.2rem;
                    font-weight: 700;
                }
            }
            h2{
                font-family: 'Lato', sans-serif;
                font-weight: 800;
                font-size: 1.5rem;
            }
        }
        .total{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .order-status-deliver{
        margin-top: 10%;
        margin-bottom: 1.5rem;
        width: 90%;
        height: 3.43rem;
        border-radius: 6.5rem;
        color: white;
        background: var(--gradient-tertiary);
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
        text-transform: capitalize;
        transition: 1s;
        position: relative;

        .button__progress{
            border-radius: 6.5rem 0rem 0rem 6.5rem;
            background-color: #00000026;
            transition: width 3s;
            position: absolute;
            height: 100%;
            width: 50%;
            left: 0;
            top: 0;
        }
        span{
            position: relative;
        }
    }

    .order-status-delivered{
        position: relative;
        margin-top: 10%;
        margin-bottom: 1.5rem;
        width: 90%;
        height: 3.43rem;
        border-radius: 6.5rem;
        color: white;
        background: linear-gradient(90deg, #FFCC33 0.33%, #FF3156 100%, #FF3156 100%);
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
        text-transform: capitalize;
        transition: 1s;
    }
}