@use "../../../../sass/stylesImports" as styles;

.recap-item {
  @include styles.flex-config(flex, space-between, center, row, nowrap);
  padding: 2rem;
  &__left-container {
    @include styles.flex-config(flex, space-between, start, column, nowrap);
    gap: 1rem;
  }
  &__right-container {
    @include styles.flex-config(flex, center, center, row, nowrap);
    // border: solid 1px aqua;
    gap: 2rem;
  }
  &__portada-image {
    width: 10rem;
  }
  &__polaroid {
    width: 3rem;
  }
  &__underline {
    width: 100%;
    height: 1px;
    background-color: white;
  }
  a {
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
