.landing {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  &__content {
    position: absolute;
    bottom: 16vh;
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    text-transform: uppercase;
    font-weight: 600;
    transform: rotate(-90deg);
  }
  &__content-top {
    display: flex;
  }
  &__image-top {
    width: 25rem;
    height: 30rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__btn {
    flex: 1;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    img {
      width: 4rem;
      margin-right: 3rem;
    }
  }
}
