.container-header-barman{
    .header{
        display: flex;
        align-items: center;
        justify-content: space-betwee;
        width: 19rem;
    }
    h1{
        text-transform: none;
    }
}