.container-header-barman{
    
    h1{
        text-transform: none;
        Font-family: 'Acumin Pro Wide';
        Font-style: Bold;
        Font-size: 24px;
    }
    .header{
        display: flex;
        align-items: center;
        width: 19rem;
        justify-content: space-betwee;
    }
}