.overlay-type-of-drink{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.62rem);
    z-index: 2;

    .popup{
        width: 90%;
        top: 20%;
        height: 21.3rem;
        background: var(--gradient-secondary);
        border-radius: 1.25rem;
        z-index: 3;
        h2{
            font-weight: 700;
font-size: 18px;
        }
    }
}