.overlay-type-of-drink{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(0.62rem);
    z-index: 2;

    .popup{
        position: absolute;
        width: 90%;
        height: 21.3rem;
        background: var(--gradient-secondary);
        box-shadow: 0px 0.25rem 0.75rem rgba(255, 255, 255, 0.25) ;
        border-radius: 1.25rem;
    }
}