.overlay-type-of-drink{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.62rem);
    background: linear-gradient(180deg, rgba(7, 1, 4, 0.66) 0%, rgba(70, 5, 56, 0.66) 100%);
    z-index: 2;
    .popup{
        width: 90%;
        top: 20%;
        height: 21.3rem;
        background: var(--gradient-secondary);
        border-radius: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
        h2{
            margin-top: 2rem;
        }
        p{
            margin-top: .5rem;
           font-weight: 400;
           font-size: 0.68rem;
        }
    }
}