@use "../../sass/stylesImports" as styles;

.bzrp-tour {
  width: 100%;
  padding: 5rem;
  @include styles.flex-config(flex, center, center, column, nowrap);
  &__btn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }
}
