@import '../../../../sass/stylesImports.scss';
.payment-method-settings {
  padding-bottom: 2rem;
  &__sub-title {
    margin-bottom: 0.3rem;
    margin-top: 2.5rem;
  }
  &__my-cards {
    div.payment-method-short-card:not(:last-child) {
      margin-bottom: -0.4rem;
    }
  }
  &__points {
    @include grey-gradient-bg;
    width: 100%;
    height: 7.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }
    &__circle {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &--green {
        @include green-gradient-dark-bg;
      }
      &--pink {
        @include primary-gradient-light-bg;
      }
    }
  }
  &__last-movements {
    @include grey-gradient-bg;
    width: 100%;
    min-height: 6rem;
    border-radius: 1.1rem;
    &__row {
      width: 100%;
      height: 5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 3rem;
      gap: 1rem;
      p {
        font-weight: 400;
        font-size: 1.2rem;
      }
    }
    &__detail {
      max-height: 90%;
      width: 70%;
      p {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }
    }
  }
}
