.toggle-xnodui {

  font-size: 10px;
  position: relative;
  width: 6em;
  height: 3.4em;
  /* border: solid 1px aqua; */
}

.toggle-xnodui input[type="checkbox"] {
  display: none;
}

.toggle-xnodui .toggle-xnodui-label {
 --radius-toggle-switch: 30px

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: var(--radius-toggle-switch);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-xnodui .toggle-xnodui-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5em;
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  transform: translateY(-50%);
}

.toggle-xnodui input:checked + .toggle-xnodui-label {
  background-color: var(--primary-color);
}

.toggle-xnodui input:checked + .toggle-xnodui-label::before {
  transform: translateX(2.3rem) translateY(-50%);
}

.toggle-xnodui .toggle-xnodui-label:hover {
  background-color: #999;
}

.toggle-xnodui input:checked + .toggle-xnodui-label:hover {
  filter: brightness(1.2);
}

.toggle-xnodui input:focus + .toggle-xnodui-label {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
