.toggle-xnodui {
  position: relative;
  width: 60px;
  height: 34px;
  /* border: solid 1px aqua; */
}

.toggle-xnodui input[type="checkbox"] {
  display: none;
}

.toggle-xnodui .toggle-xnodui-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-xnodui .toggle-xnodui-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  transform: translateY(-50%);
}

.toggle-xnodui input:checked + .toggle-xnodui-label {
  background-color: var(--primary-color);
}

.toggle-xnodui input:checked + .toggle-xnodui-label::before {
  transform: translateX(2.6rem) translateY(-50%);
}

.toggle-xnodui .toggle-xnodui-label:hover {
  background-color: #999;
}

.toggle-xnodui input:checked + .toggle-xnodui-label:hover {
  filter: brightness(1.2);
}

.toggle-xnodui input:focus + .toggle-xnodui-label {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}
