@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&display=swap");
:root {
  //fonts
  --font-poppins: "Poppins", sans-serif;
}

/*|---------------| App Color Schema|---------------*/
$PRIMARY-BACKGROUND-COLOR: #00102f;
$SECONDARY-BACKGROUND-COLOR: rgba(0, 0, 0, 1);
$SECONDARY-COLOR: rgba(16, 249, 173, 1) 0%;
$TERTIARY-COLOR: rgba(36, 184, 211, 1) 65%;
$CUATERNARY-COLOR: rgba(0, 255, 239, 1) 100%;
$TRANSPARENT-COLOR: #5757573a;

/*|---------------| BREAKPOINTS|---------------*/
$BREAKPOINT-DESK: 1024px;
$BREAKPOINT-TABLET: 600px;
$BREAKPOINT-MOBILE: 480px;
