@use "../../sass/stylesImports.scss" as styles;

.chatbox-wrapper {
  &--right {
    align-self: flex-end;
  }
  &--left {
    align-self: flex-start;
  }
  .chatbox {
    padding: 2rem;
    padding-bottom: 3rem;
    font-size: 13px;
    margin-bottom: 1rem;
    // transition: height 0.5s;
    &--answer-prev {
      color: styles.$color-secondary;
      background: styles.$color-primary;
      border-radius: 1.6rem;
      .hour {
        font-size: styles.$text-size-10;
        color: #ffffffbe;
        position: absolute;
        right: 2rem;
        bottom: 1rem;
      }
    }
    &--answer {
      color: styles.$color-secondary;
      background: styles.$color-primary;
      border-radius: 1.6rem 1.6rem 1.6rem 0.1rem;
      position: relative;
      .hour {
        font-size: styles.$text-size-10;
        color: #ffffffbe;
        position: absolute;
        right: 2rem;
        bottom: 1.2rem;
      }
    }
    &--sent-prev {
      color: styles.$color-tertiary;
      background: styles.$color-background-light;
      border-radius: 1.6rem;
      .hour {
        font-size: styles.$text-size-10;
        color: #0000008c;
        position: absolute;
        right: 2rem;
        bottom: 1.2rem;
      }
    }
    &--sent {
      color: styles.$color-tertiary;
      background: styles.$color-background-light;
      border-radius: 1.6rem 1.6rem 0.1rem 1.6rem;
      position: relative;
      .hour {
        font-size: styles.$text-size-10;
        color: #0000008c;
        position: absolute;
        right: 2rem;
        bottom: 1.2rem;
      }
    }

    &__audio-wrapper {
      &__transcription-container {
        width: 100%;
        // padding: 1rem 0rem;
        // height: 100%;
        &--hidden {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
        }
        &--show {
          padding: 1rem 0rem;
          max-height: 100%;
          overflow: none;
          transition: max-height 0.5s ease-in;
        }
      }
      &__transcription-btn {
        position: absolute;
        bottom: 1.2rem;
        font-size: styles.$text-size-9;
        font-weight: 600;
        color: #0000008c;
      }
    }
  }
}
