.not-found {
  @include limits(90vw, 90vh);
  @include absolute-center;
  &__animation {
    width: 75vw;
  }
  &__text {
    @include gradien-text;
    position: absolute;
    top: 5%;
    font-size: 10rem;
  }
}
