.popup-select-drink-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0.62rem);
    background: linear-gradient(180deg, rgba(7, 1, 4, 0.438) 0%, rgba(70, 5, 56, 0.66) 100%);
    z-index: 99;
    
    .popup-select-drink{
        width: 90%;
        height: 80%;
        border-radius: 1.25rem;
        background: linear-gradient(207.64deg, rgba(255, 255, 255, 0.6) -13.25%, rgba(255, 255, 255, 0) 114.31%);
        transform: translateY(150%);
        animation: slide 0.2s 1 forwards;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    
        h1{
            font-weight: 700;
            font-size: 1.25rem;
            margin-top: 6%;
        }
        p{
            margin-top: .6rem;
            font-weight: 400;
            font-size: 0.68rem;
        }
        .search-container{
            width: 80%;
            position: relative;
            display: flex;
            align-items: center;
            margin-top: .5rem;
            padding: 0.063rem;
            background: var(--gradient-primary);
            border-radius: 1.5rem;
            .search{
                width: 100%;
                height: 1.8rem;
                border-radius: 1.5rem;
                border: none;
                background-color: #a69a9c;
                padding-left: 15%;
                padding-right: 3%;
                color: white;
                font-size: small;
                &:focus{
                    outline: 0px;
                }
                &::placeholder{
                    color: rgba(255, 255, 255, 0.681);
                }
            }
            img{
                position: absolute;
                left: 5%;
            }
        }
        .container-select-cards{
            margin-top: 1rem;
            width: 95%;
            height: 66%;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            gap: 1rem;
            padding-top: .5rem;
        }
        .sub-title{
            display: flex;
            align-items: center;
            white-space: nowrap;
            width: 100%;
            gap: .5rem;
            .line{
                width: 100%;
                height: 1px;
                background-color: white;
            }
        }
        .add-drink-buttons{
            display: flex;
            flex-direction: column;
            margin-top: 1rem;
            margin-bottom: -1rem;
        }
        .save{
            width: 8.8rem;
            min-height: 2.5rem;
            color: white;
            background: var(--gradient-primary);
            box-shadow: 0px 0px 20px rgba(255, 84, 123, 0.5);
            border-radius: 6.25rem;
        }
        .cancel{
            text-decoration: underline;
        }
    }
}









.card-select{
    width: 100%;
    min-height: 5.56rem;
    background: var(--gradient-secondary);
    border-radius: 0.68rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding-left: .3rem;
    gap: 5%;
    .image-drink{
       
       max-width: 2.8rem;
       img{
           width: 100%;
       }
    }
    .container-right{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        .container-head{
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }
        h2{
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            font-size: 0.87rem;
        }
        .switch-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                white-space: nowrap;
            }
        }

        .container-prices{
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -0.5rem;
            input{
                width: 100%;
                height: 100%;
                background-color: #a69a9c;
                border: none;
                border-radius: 1.5rem;
                color: white;
                height: 1.12rem;
                padding-left: .8rem;
                padding-right: .8rem;
                font-size: 0.625rem;
                &:focus{
                    outline: 0px;
                }
            }
            h2{
            font-family: 'Lato', sans-serif;
            font-weight: 800;
            font-size: 0.7rem;
            margin-bottom: 0.1rem;
            text-transform: capitalize;    
            }
            .input-wrapper{
                background: var(--gradient-primary);
                width: 95%;;
                border-radius: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center; 
                padding: 0.063rem;
            }
            .input-container{
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                .percent{
                    position: absolute;
                    left: 32%;
                    font-weight: 600;
                    font-size: 60%;
                    top: 50% - 30%;
                
                }
                .price {
                    position: absolute;
                    left: 5%;
                    font-weight: 600;
                    font-size: 60%;
                    top: 50% - 30%;
                }

            }

    }
    }
}


@keyframes slide {
    to{
        transform: translateY(0%);
    }
}