.layout {
  width: 100%;
  display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  &__content {
    width: 100%;
    border: solid 1px aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
