.landing {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/landing.webp");
  background-size: cover;
  background-position: 80%;
  text-align: center;
  position: relative;
  &__content {
    position: absolute;
    bottom: 23%;
    left: 50%;
    transform: translateX(-50%);
    h1 {
      margin-bottom: 1.5rem;
    }
    img {
      width: 60%;
    }
  }
}
