.container-back{
    display: flex;
    margin-top: 2.5rem;
    h1{
        font-family: 'Acumin Pro Wide';
font-style: normal;
font-weight: 700;
font-size: 24px;
    }
    img{
        cursor: pointer;

    }
}