@import '../../../global/css/mixins.scss';

.what-is-wedrink-container{
    width: 100%;
    height: 100vh;
    @include flexible(flex, row, nowrap, center, center);
    @include responsive(992px){
        height: auto
    }
    .baner {
        max-width: 1440px;
        @include flexible(flex, row, nowrap, space-between, center);
        @include responsive(992px){
            flex-direction: column-reverse;
             width: 90%;
         }
    }
    .phrase{
        display: flex;
        flex-direction: column;
        width: 50rem;
        gap: 2rem;
        h1{
            font-weight: 700;
            font-size: 3.8rem;
            @include responsive(992px){
                text-align: center;
                font-size: 2.1rem;
            }

        }
        p{
            font-weight: 400;
            font-size: 1.43rem;
            max-width: 41rem;
            @include responsive(992px){
                text-align: center;
                font-size: 1.12rem;
            }

        }
        @include responsive(992px){
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 1rem;
         }
    }
    .img-smartphone{
        width: 33rem;
        @include responsive(1400px){
            width: 23rem;
        }
    }
    .buttons{
        display: flex;
        gap: 1rem;
        @include responsive(992px){
            img{
                width: 8.8rem;
            }
        }
    }
}