//BUTTON CLASSES

button,
input[type="submit"] {
  background-color: transparent;
  border: none;
  color: $color-white;
}
.btn-primary {
  font-family: "Acumin Pro Wide", sans-serif;
  @include primary-gradient-background;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.btn-secondary {
  font-family: "Acumin Pro Wide", sans-serif;
  background: #764d6d;
  border-radius: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    margin: -2px;
    border-radius: 2rem;
    @include primary-gradient-dark-bg;
  }

  &--m {
    font-size: $text-size-14;
    font-weight: 500;
    width: 100%;
    height: 4rem;
  }
}
