.item-drink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  &__tilte {
    text-transform: capitalize;
  }
  &__image {
    height: 4rem;
  }
  &__right-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
