.calendar {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  row-gap: 5%;

  &__month-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5%;
    row-gap: 1%;
    opacity: 0.7;
    &--avariable {
      opacity: 1;
    }
  }
  &__line {
    position: absolute;
    width: 1rem;
    opacity: 0.7;
  }
  &__day-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__day {
    font-family: Shadow;
    font-weight: 700;
    font-size: 0.6rem;
    text-align: center;
  }

  &__month {
    font-family: Shadow;
    font-weight: 400;
    font-size: 0.9rem;
    grid-column: 1 / span 7;
    text-align: center;
    &--avariable {
      font-weight: 700;
    }
  }
}
@media (max-width: 820px) {
  .calendar {
    row-gap: 0rem;
    &__month-wrapper {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 0;
    }
    &__line {
      width: 3rem;
    }
    &__day {
      font-size: 1.8rem;
    }
    &__month {
      font-size: 1.9rem;
    }
  }
}
@media (max-width: 600px) {
  .calendar {
    &__line {
      width: 1.3rem;
    }
    &__day {
      font-size: 0.8rem;
    }

    &__month {
      font-size: 1.9rem;
    }
  }
}
