.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    gap: 2rem;
    z-index: 2;
    // background-color: #0f0f0f;
    padding: 1rem;
    border: solid 2px #ffffff83;
    border-radius: 1rem;
    left: 1rem;
  }
  &__video-container {
    width: 80%;
    padding: 2rem;
    border: solid 2px #ffffff83;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__video {
    width: 100%;
    border-radius: 1rem;
    z-index: 1;
  }
  &__unrecorder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    opacity: 0.5;
    path,
    line {
      stroke-width: 15px !important;
      stroke: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .app {
    &__video-container {
      width: 100%;
    }
  }
}
