.container-text{
    width: 100%;
    padding-left: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 255, 255, 0.402);
    input{
        background-color:  #edebff;;
        border: none;
        font-size: 1.1rem;
    }
}