.container-text{
    width: 100%;
    padding-left: 2rem;
    overflow: hidden;
    input{
        background-color: var(--color-primary);
        border: none;
        font-size: 1.1rem;
        transition: 0.2s;
    }
}