@mixin responsive-media($medida: 480px){
    @media screen and (max-width: $medida) {
        @content;    
    }
}
// Formas de utilizarlo -------responsive-media--------
// p{
//     font-size: 4em;

//     @include movil(){
//         font-size: 2em;
//     }
// }

@mixin flexible( $dis , $direction , $corte , $just , $align ){
    display         : $dis;
    flex-flow       : $direction $corte;
    justify-content : $just;
    align-items     : $align;
}

// Formas de utilizar -------flexible--------
// main{
//     @include flexible( flex , row , nowrap , center , center );
// }