.gradient-text{
    a{
        position: relative;
        font-size: .7rem;
        background: var(--gradient-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        cursor: pointer;
    }
    a::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        height: 0.063rem;
        background: var(--gradient-primary);
        margin-top: 1rem;
      }
}