.gradient-text{
    a{
        position: relative;
        font-size: .7rem;
        background: var(--gradient-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        cursor: pointer;
    }
    a::before {
        content: "";
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 5px;
        border-radius: 2px;
        background: linear-gradient(111.3deg, #9c27b0 9.6%, #00bcd4 93.6%);
      }
}