.unit-manager-settings-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9rem;
    .row-container{
        width: 85%;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h2{
        font-family: 'Acumin Pro Wide';
        text-transform: capitalize;
        font-size: 1rem;
    }
    hr{
        width: 100%;
        border: none;
        height: 1px;
        background: var(--gradient-primary-left-to-right);
    }
    p{
        font-weight: 300;
        font-size: 0.87rem;
        text-transform: capitalize;
    }
}