.add-party-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    transform: translateX(100%);
    animation: _transition 0.4s 1 forwards;
    overflow-y: scroll;
    h2{
        width: 85%;
        margin-top: 1rem;
    }
    .container-form{
        width: 100%;
        min-height: 35.8rem;
        background: var(--gradient-secondary);
        border-radius: 1.25rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            width: auto;
            margin-top: 1.5rem;
        }
        .form-in{
            width: 85%;
            margin-top: 1.5rem;
        }
        .add-image{
            width: 100%;
            height: 5.87rem;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -14.99%, rgba(255, 255, 255, 0) 133.47%);;
            border-radius: 1.25rem;
            box-shadow: inset 0rem 0rem 3.1rem rgba(255, 84, 123, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            margin-top: 1.5rem;
            .image-container{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.7rem;
                height: 3.7rem;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            p{
                width: 40%;
                font-weight: 400;
                font-size: 0.75rem;
                opacity: 0.7;
            }
        }
        input{
            background: #7d6676;
        }
        ::placeholder {
            color: rgba(255, 255, 255, 0.671) ;
            font-size: 0.75rem;
          }
        label{
            font-size: 0.75rem;
        }
        .barmans{
            p{
                font-size: 0.75rem;
            }
        }
        .warning{
            display: flex;
            width: 85%;
            height: 2.2rem;
            margin-top: 1rem;
            p{
                font-family: 'Rajdhani';
                font-style: normal;
                font-weight: 600;
                font-size: 0.62rem;
            }
            .red-asterisk{
                color: red
            }
        }
    }
        .buttons-plus{
            width: 100%;
        }
        .submit-button{
            border: none;
            color: white;
            cursor: pointer;
            margin-top: 2rem;
            width: 100%;
            height: 2.5rem;
            border-radius: 6.25rem;
            background: var(--gradient-primary-left-to-right);
            box-shadow: 0rem 0rem 1.25rem rgba(255, 84, 123, 0.5);
        }
    }
        .cancel {
            color: white;
            margin-top: 1.5rem;
            margin-bottom: 3rem;
        }
    @keyframes  _transition {
        to{
            transform: translateX(0);
        }
}