.dropdown-container-xnodui {
  text-align: left;
  border: 1px solid var(--dropdown-border-color);
  background-color: var(--dropdown-background-color);
  /* backdrop-filter: blur(0.2rem); */
  position: relative;
  border-radius: var(--dropdown-radius);
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  transition: border 0.5s;
  font-family: var(--dropdown-font);
  max-width: 100%;
}
.dropdown-container-xnodui--selected {
  border-color: var(--primary-color);
}
.dropdown-container-xnodui:hover {
  border-color: var(--primary-color);
}

.dropdown-container-xnodui .dropdown-input-xnodui {
  padding: 7px 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 7px;
}

.dropdown-container-xnodui
  .dropdown-input-xnodui
  .dropdown-selected-value.placeholder {
  color: #b4b4b4;
  transition: color 0.5s;
}
.dropdown-container-xnodui:hover
  .dropdown-input-xnodui
  .dropdown-selected-value.placeholder {
  color: var(--primary-color);
}
.dropdown-container-xnodui--selected .dropdown-selected-value {
  color: var(--primary-color);
}
.dropdown-container-xnodui--selected .dropdown-tool-icon {
  stroke: var(--primary-color);
}
.dropdown-container-xnodui:hover .dropdown-tool-icon {
  stroke: var(--primary-color);
}

.dropdown-tool-icon {
  stroke: var(--dropdown-border-color);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.dropdown-tool-icon--tanslate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* .dropdown-container-xnodui .dropdown-tool svg.translate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
} */

.dropdown-container-xnodui .dropdown-menu {
  min-width: 100%;
  max-width: max-content;
  position: absolute;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
  border: 1px solid var(--primary-color);
  border-radius: var(--dropdown-radius);
  overflow: auto;
  background-color: var(--dropdown-background-color);
  z-index: 99;
  transition: max-height 0.3s ease-in-out, min-height 0.3s ease-in-out,
    opacity 0.4s ease-in-out, padding 0.3s;
}
.dropdown-menu--hide {
  max-height: 0px;
  min-height: 0px;
  padding: 0px;
  opacity: 0;
}
.dropdown-menu--show {
  max-height: 32em;
  min-height: 5em;
  padding: 0.5em;
  opacity: 1;
}
.dropdown-container-xnodui .dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.dropdown-container-xnodui .dropdown-menu::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dropdown-container-xnodui .dropdown-menu::-webkit-scrollbar-thumb {
  background: #888;
}

.dropdown-container-xnodui .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dropdown-container-xnodui .dropdown-menu.alignment--left {
  left: 0;
}

.dropdown-container-xnodui .dropdown-menu.alignment--right {
  right: 0;
}

.dropdown-container-xnodui .dropdown-item {
  padding: 7px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.35s ease;
  transition: background-color 0.35s ease;
  border-radius: 6px;
  font-weight: 500;
  margin-top: 0.2rem;
}

.dropdown-container-xnodui .dropdown-item:hover {
  background-color: rgba(130, 134, 139, 0.05);
  color: var(--primary-color);
}

.dropdown-container-xnodui .dropdown-item.selected {
  color: var(--primary-color);
  font-weight: 600;
  position: relative;
}
.dropdown-container-xnodui .dropdown-item.selected::after {
  content: "";
  background-color: var(--primary-color);
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.dropdown-container-xnodui .search-box {
  padding: 0.5em;
}

.dropdown-container-xnodui .search-box input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--dropdown-background-color);
  border-radius: 5px;
}
.dropdown-container-xnodui .search-box input:focus {
  outline: none;
}
.dropdown-container-xnodui .dropdown-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-container-xnodui .dropdown-tag-item {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 500;
  padding: 2px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 0.5rem;
  z-index: 2;
}
.dropdown-container-xnodui .dropdown-tag-item::after {
  content: "";
  background-color: var(--primary-color);
  opacity: 0.2;
  border-radius: 0.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.dropdown-container-xnodui .dropdown-tag-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 5px;
}
