@import '../../../global/css/mixins.scss';

.inventory-container {
    height: 100vh;
    width: 80%;
    margin-top: 3rem;
    @include flexible(flex, row, nowrap, space-between, center);

    @include responsive(992px) {
        flex-direction: column;
        gap: 4rem;
    }

    .smartphone-container {
        position: relative;
        @include flexible(flex, column, nowrap, center, center);
        width: 36.8rem;

        @include responsive(992px) {
            width: 90%;
        }
    }

    .ellipse-pink.one {
        top: auto;
        left: auto;
        @include responsive(992px) {
            width: 8rem;
            height: 8rem;
            bottom: -10%;
            left: -20%;
        }
    }

    .ellipse-pink.two {
        width: 6.4rem;
        height: 6.4rem;
        top: 10%;
        left: 20%;
        @include responsive(992px) {
            width: 3rem;
            height: 3rem;
            top: auto;
            bottom: 30%;
            left: -10%;
        }
    }

    .ellipse-pink.three {
        width: 2.3rem;
        height: 2.3rem;
        top: -10%;
        left: 5%;
        @include responsive(992px) {
            width: 3.2rem;
            height: 3.2rem;
            top: auto;
            left: auto;
            bottom: 15%;
            right: 0%;
            background: linear-gradient(90deg, rgba(41, 183, 223, 0.45) 0%, rgba(73, 38, 157, 0.45) 100%);
        }
        
    }

    .ellipse-pink.four {
        width: 6.4rem;
        height: 6.4rem;
        top: 5%;
        right: 30%;
        @include responsive(992px) {
            width: 8rem;
            height: 8rem;
            top: 40%;
            right: 5%;
            background: linear-gradient(90deg, rgba(41, 183, 223, 0.45) 0%, rgba(73, 38, 157, 0.45) 100%);
        }
    }

    .ellipse-pink.five {
        width: 3.6rem;
        height: 3.6rem;
        top: -10%;
        right: 10%;
        @include responsive(992px) {
            display: none;
        }
    }

    .ellipse-pink.six {
        width: 2.3rem;
        height: 2.3rem;
        bottom: 30%;
        right: 10%;
        @include responsive(992px) {
            display: none;
        }
    }

    .ellipse-pink.seven {
        width: 2.3rem;
        height: 2.3rem;
        bottom: 10%;
        left: 10%;
        @include responsive(992px) {
            display: none;
        }
    }

    .smartphone_4 {
        align-self: flex-end;

        @include responsive(992px) {
            width: 12.4rem;
        }
    }

    .smartphone_3 {
        align-self: flex-start;

        @include responsive(992px) {
            width: 15.8rem;
        }
    }

    .content-right {
        width: 42rem;
        @include flexible(flex, column, nowrap, center, start);
        gap: 1.5rem;

        @include responsive(992px) {
            width: 100%;
        }

        h1 {
            font-size: 62px;

            @include responsive(992px) {
                font-size: 2rem;
            }
        }

        p {
            font-size: 23px;

            @include responsive(992px) {
                font-size: 1.1rem
            }
        }
    }

    .btn {
        width: 13.5rem;
        height: 2.5rem;

        @include responsive(992px) {
            width: 95%;
        }
    }

    ul {
        list-style: none;
    }

    .item {
        font-family: 'Acumin Pro Wide';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        margin-bottom: .5rem;

        @include responsive(992px) {
            font-size: 1.1rem
        }
    }

    .item.one::before {
        display: inline-block;
        content: url("../../../assets/icons/icon_bottle_2.svg");
        margin-right: 0.5rem;
    }

    .item.two::before {
        display: inline-block;
        content: url("../../../assets/icons/icon_inventory.svg");
        margin-right: 0.5rem;
    }

    .item.three::before {
        display: inline-block;
        content: url("../../../assets/icons/icon_cycle.svg");
        margin-right: 0.5rem;
    }

    .item.four::before {
        display: inline-block;
        content: url("../../../assets/icons/icon_notification.svg");
        margin-right: 0.5rem;
    }
}