body {
  font-family: 'Acumin Pro Wide', sans-serif;
  color: $color-white;
}

.heading-primary {
  /*h1*/
  color: $color-white;
  font-family: 'Acumin Pro Wide', sans-serif;

  &--main {
    /*WeDrink title + selected nightclub name*/
    font-size: $heading-size-24;
    font-weight: 700;
  }
  &--total-price {
    /*WeDrink payment-method total price*/
    font-size: $heading-size-32;
    font-weight: 700;
  }
}

.heading-secondary {
  /*h2*/
  color: $color-white;
  font-family: 'Acumin Pro Wide', sans-serif;

  &-main {
    /*Events categories title*/
    font-family: inherit;
    font-size: $heading-size-16;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks categories title*/
    font-size: $heading-size-20;
    font-weight: 600;
    &--upper {
      font-size: $heading-size-20;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}
.heading-tertiary {
  /*h3*/
  color: $color-white;
  font-family: 'Acumin Pro Wide', sans-serif;
  &-main {
    /*Drinks name*/
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }

  &-sub {
    /*Drinks price*/
    font-size: $heading-size-16;
    font-weight: 600;
    &--upper {
      text-transform: uppercase;
    }
  }
}
