body {
  font-family: 'Acumin Pro Wide', sans-serif;
  color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rajdhani', sans-serif;
  line-height: 0.955em;
  font-weight: 700;
  text-transform: uppercase;
}
.heading-primary {
  /*h1*/
  color: $color-white;
  font-family: 'Acumin Pro Wide', sans-serif;

  &--main {
    /*WeDrink title + selected nightclub name*/
    font-size: $heading-size-24;
    font-weight: 700;
  }
}

.heading-secondary {
  /*h2*/
  color: $color-white;
  font-family: 'Acumin Pro Wide', sans-serif;

  &--main {
    /*Events categories title*/
    font-family: inherit;
    font-size: $heading-size-16;
    font-weight: 600;
    text-transform: uppercase;
  }

  &--sub {
    /*Drinks categories title*/
    font-size: $heading-size-20;
    font-weight: 600;
  }
}
.heading-tertiary {
  /*h3*/
  color: $color-white;
  font-family: 'Acumin Pro Wide', sans-serif;
  &--main {
    /*Drinks name*/
    font-family: inherit;
    font-size: $text-size-14;
    font-weight: 600;
  }

  &--sub {
    /*Drinks price*/
    font-family: inherit;
    font-size: $heading-size-20;
    font-weight: 600;
  }
}
