.cart-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    
    .cart-header{
        width: 19.375rem;
        h1{
            font-family: "Acumin Pro Wide", sans-serif;
            text-transform: none;
            margin-top: 1rem;
        }
        .party{
            font-family: 'Acumin Pro Wide';
            font-style: normal;
            font-weight: 500;
            font-size: 1.25rem;
            letter-spacing: 0.005em;
            margin-top: 1rem;
            text-transform: lowercase;
        }
    }
    .cart-more-drinks{
        margin-top: 1.5rem;
    }

    .cart-container-products{
        height: 20.375rem;
        border-radius: 0.5rem;
        overflow-y: scroll;
        margin-top: 1rem;
    }
    .cart-container-products::-webkit-scrollbar {
        background-color: transparent;
      }
    .cart-product{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: var(--gradient-secondary);
        filter: drop-shadow(0.2rem 0.2rem 1.25rem rgba(0, 0, 0, 0.08));
        border-radius: 1rem;
        width: 19.375rem;
        height: 4rem;
        margin-top: 1.5rem;
        transform: translateX(-25rem);
        animation: cart-product-in 0.6s ease 1 forwards;
        .name{
            font-family: 'Lato', sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 0.87rem;
        }
        .price{
            font-family: 'Acumin Pro Wide';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            margin-top: .4rem;
        }
        .amount{
            display: flex;
            align-items: center;
            gap: 1rem
        }
        .product-image{
            margin-top: -2rem;
        }
    }
    .cart-promotions{
        margin-top: 2rem;
        margin-bottom: 6rem;
    }
}

@keyframes cart-product-in {
    to {
      transform: translateX(0);
    }
  }